@import "../shared/variables";
@import "../shared/mixin/index";

/* default styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	outline: none !important;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

body {
	font-size: rem(12);
	line-height: 1.4;
	font-weight: 400;
	font-family: $font-main-300;
	letter-spacing: rem(-.14);
	margin: 0;
	color: $secondary;
	//background-color: $contrast;
	background-color: $contrast;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.contrast {
		background-color: $contrast;
	}

	@include mobile-md {
		font-size: rem(13);
	}

	@include mobile-lg {
		font-size: rem(16);
	}
}

::-webkit-scrollbar-track {
	width: 0;
	height: 0;
	background: transparent;
}

::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
	height: 0;
	background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
	width: 0;
	height: 0;
	background: transparent;
}

a,
button {
	cursor: pointer;
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

button {
	display: inline-block;
	border: 0;
	font-family: inherit;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

::selection {
	color: $contrast;
	background-color: $primary;
}

figure {
	margin: 0;
}

object {
	pointer-events: none;
}

label {
	svg {
		pointer-events: none;
	}
}
/* end default styles */

.container-xs {
	max-width: 361px;

	@include mobile-lg {
		max-width: 446px;
	}
}

.container-sm {
	max-width: 360px;

	@include mobile-lg {
		max-width: 500px;
	}
}

.container-md {
	max-width: 560px;
}
.container, .container {
	padding-left: rem(8);
	padding-right: rem(8);
}

.row {
	margin-left: rem(-8);
	margin-right: rem(-8);
}

[class*=col-], .col {
	padding-left: rem(8);
	padding-right: rem(8);
}

h1 {
	font-size: rem(24);
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: rem(-1.04);
}

h2 {
	font-size: rem(24);
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: rem(-1.04);
}

h3 {
	font-size: rem(15);
	font-weight: 500;
}

h4 {
	font-size: rem(13);
	font-weight: 500;

	@include mobile-md {
		font-size: rem(14);
	}

	@include mobile-lg {
		font-size: rem(16);
	}
}

h5 {
	font-size: rem(12);
	font-weight: 500;

	@include mobile-md {
		font-size: rem(13);
	}

	@include mobile-lg {
		font-size: rem(15);
	}
}

h6 {
	font-size: rem(10);
	font-weight: 400;
	font-family: $font-main-300;
	letter-spacing: rem(-.26);

	@include mobile-md {
		font-size: rem(12);
	}

	@include mobile-lg {
		font-size: rem(14);
	}
}

.caption {
	font-size: rem(11);
	line-height: 1.2;
	letter-spacing: rem(.5);
	text-transform: uppercase;
	font-weight: 500;
}

table {
	p {
		margin-bottom: 0;
	}
}

.lead {
	font-size: rem(9);
	font-weight: 300;
}

hr, .hr {
	margin-top: rem(8);
	margin-bottom: rem(8);
	border: 0;
	border-top: 1px solid $dark;
}

small,
.small {
	font-size: 80%;
	font-weight: 400;
}

b, strong {
	font-family: $font-main-500;
	font-weight: 400;
}

.color-light {
	color: darken($light, 10%);
}
.color-dark {
	color: $dark;
}
.color-primary {
	color: $primary;
}
.bg-primary {
	background-color: $primary;
	color: $contrast;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-y-auto {
	overflow-y: auto;
}
.h-1 {
	height: 1px;
}
.text-underline {
	text-decoration: underline;

	a#{&} {
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}
