@font-face {
  font-family: 'organicfoodicons';
  src:url('../../fonts/organicfoodicons/organicfoodicons.eot@56tr8g');
  src:url('../../fonts/organicfoodicons/organicfoodicons.eot@56tr8g#iefix') format('embedded-opentype'),
  url('../../fonts/organicfoodicons/organicfoodicons.woff2@56tr8g') format('woff2'),
  url('../../fonts/organicfoodicons/organicfoodicons.ttf@56tr8g') format('truetype'),
  url('../../fonts/organicfoodicons/organicfoodicons.woff@56tr8g') format('woff'),
  url('../../fonts/organicfoodicons/organicfoodicons.svg@56tr8g#organicfoodicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.foodicon {
  font-family: 'organicfoodicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.foodicon--jam::before {
  content: "\e900";
}
.foodicon--radish::before {
  content: "\e901";
}
.foodicon--carrot::before {
  content: "\e902";
}
.foodicon--coconut::before {
  content: "\e903";
}
.foodicon--corn::before {
  content: "\e904";
}
.foodicon--cucumber::before {
  content: "\e905";
}
.foodicon--eggplant::before {
  content: "\e907";
}
.foodicon--ekobag::before {
  content: "\e908";
}
.foodicon--grain::before {
  content: "\e909";
}
.foodicon--grape::before {
  content: "\e90a";
}
.foodicon--leaf::before {
  content: "\e90b";
}
.foodicon--lemon::before {
  content: "\e90c";
}
.foodicon--lettuce::before {
  content: "\e90d";
}
.foodicon--mylk::before {
  content: "\e90e";
}
.foodicon--mushrooms::before {
  content: "\e90f";
}
.foodicon--onion::before {
  content: "\e910";
}
.foodicon--pear::before {
  content: "\e911";
}
.foodicon--pepper::before {
  content: "\e912";
}
.foodicon--smoothie::before {
  content: "\e913";
}
.foodicon--squeezer::before {
  content: "\e914";
}
.foodicon--tomato::before {
  content: "\e915";
}
.foodicon--watermelon::before {
  content: "\e916";
}
.foodicon--apple::before {
  content: "\e917";
}
.foodicon--banana::before {
  content: "\e918";
}
.foodicon--basket::before {
  content: "\e919";
}
.foodicon--blender::before {
  content: "\e91a";
}
.foodicon--bread::before {
  content: "\e91b";
}
.foodicon--broccoli::before {
  content: "\e91c";
}

/* Icons (made with Icomoon.io) for header */

@font-face {
  font-family: 'bpicons';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/bpicons/bpicons.eot');
  src: url('../../fonts/bpicons/bpicons.eot@#iefix') format('embedded-opentype'),
  url('../../fonts/bpicons/bpicons.woff') format('woff'),
  url('../../fonts/bpicons/bpicons.ttf') format('truetype'),
  url('../../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}

.bp-icon:after {
  font-family: 'bpicons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  color: #5c5edc;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

.bp-icon--next:after {
  content: '\e000';
}

.bp-icon--drop:after {
  content: '\e001';
}

.bp-icon--archive:after {
  content: '\e002';
}

.bp-icon--about:after {
  content: '\e003';
}

.bp-icon--prev:after {
  content: '\e004';
}

/* Icons (made with Icomoon.io) */

@font-face {
  font-family: 'feather';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/feather/feather.eot@1gafuo');
  src: url('../../fonts/feather/feather.eot@1gafuo#iefix') format('embedded-opentype'), url('../../fonts/feather/feather.woff2@1gafuo') format('woff2'), url('../../fonts/feather/feather.ttf@1gafuo') format('truetype'), url('../../fonts/feather/feather.woff@1gafuo') format('woff'), url('../../fonts/feather/feather.svg@1gafuo#feather') format('svg');
}

.icon {
  font-family: 'feather';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon--arrow-left:before {
  content: '\e901';
}

.icon--menu:before {
  content: '\e903';
}

.icon--cross:before {
  content: '\e117';
}

// font Montserrat
//@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700,900&display=swap');

//@font-face {
//  font-family: 'Montserrat Alternates Thin';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Thin.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Thin.woff') format('woff');
//  font-weight: 100;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates ThinItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ThinItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ThinItalic.woff') format('woff');
//  font-weight: 100;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates ExtraLight';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraLight.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraLight.woff') format('woff');
//  font-weight: 200;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates ExtraLightItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraLightItalic.woff') format('woff');
//  font-weight: 200;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates Light';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Light.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Light.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates LightItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-LightItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-LightItalic.woff') format('woff');
//  font-weight: 300;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Regular.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Regular.woff') format('woff');
//  font-weight: 400;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates Italic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Italic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Italic.woff') format('woff');
//  font-weight: 400;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates Medium';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Medium.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Medium.woff') format('woff');
//  font-weight: 500;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates MediumItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-MediumItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-MediumItalic.woff') format('woff');
//  font-weight: 500;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates SemiBold';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-SemiBold.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-SemiBold.woff') format('woff');
//  font-weight: 600;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates SemiBoldItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-SemiBoldItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-SemiBoldItalic.woff') format('woff');
//  font-weight: 600;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates Bold';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Bold.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Bold.woff') format('woff');
//  font-weight: 700;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates BoldItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-BoldItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-BoldItalic.woff') format('woff');
//  font-weight: 700;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates ExtraBold';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraBold.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraBold.woff') format('woff');
//  font-weight: 800;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates ExtraBoldItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraBoldItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-ExtraBoldItalic.woff') format('woff');
//  font-weight: 800;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates Black';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Black.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-Black.woff') format('woff');
//  font-weight: 900;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat Alternates BlackItalic';
//  src: url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-BlackItalic.woff2') format('woff2'),
//  url('../../fonts/Montserrat-Alternates/export/MontserratAlternates-BlackItalic.woff') format('woff');
//  font-weight: 900;
//  font-style: italic;
//}
@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../../fonts/museo/export/MuseoSansCyrl-100.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-100.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100 italic';
  src: url('../../fonts/museo/export/MuseoSansCyrl-100Italic.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-100Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../../fonts/museo/export/MuseoSansCyrl-300.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300 italic';
  src: url('../../fonts/museo/export/MuseoSansCyrl-300Italic.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-300Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../../fonts/museo/export/MuseoSansCyrl-500.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500 italic';
  src: url('../../fonts/museo/export/MuseoSansCyrl-500Italic.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-500Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../../fonts/museo/export/MuseoSansCyrl-700.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-700.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700 italic';
  src: url('../../fonts/museo/export/MuseoSansCyrl-700Italic.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-700Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../../fonts/museo/export/MuseoSansCyrl-900.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-900.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900 italic';
  src: url('../../fonts/museo/export/MuseoSansCyrl-900Italic.woff2') format('woff2'),
  url('../../fonts/museo/export/MuseoSansCyrl-900Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
