$light: #9a9a9a;
$light: $light !default;

$tertiary: #5c4968;
$tertiary: $tertiary !default;

$secondary: #4e4e4e;
$secondary: $secondary !default;

$warning: #ffce00;
$warning: $warning !default;

$contrast: #ffffff;
$contrast: $contrast !default;

$primary: #734a91;
$primary: $primary !default;

$primary-hover: #6b2b9a;
$primary-hover: $primary-hover !default;

$primary-disabled: #ded4e6;
$primary-disabled: $primary-disabled !default;

$dark: #000000;
$dark: $dark !default;

$success: #10dc60;
$success: $success !default;

$danger: #f04141;
$danger: $danger !default;

//$font-main-thin: 'Montserrat Alternates Thin', sans-serif;
//$font-main-thin-i: 'Montserrat Alternates ThinItalic', sans-serif;
//$font-main-extra-light: 'Montserrat Alternates ExtraLight', sans-serif;
//$font-main-extra-light-i: 'Montserrat Alternates ExtraLightItalic', sans-serif;
//$font-main-light: 'Montserrat Alternates Light', sans-serif;
//$font-main-light-i: 'Montserrat Alternates LightItalic', sans-serif;
//$font-main: 'Montserrat Alternates', sans-serif;
//$font-main-i: 'Montserrat Alternates Italic', sans-serif;
//$font-main-medium: 'Montserrat Alternates Medium', sans-serif;
//$font-main-medium-i: 'Montserrat Alternates MediumItalic', sans-serif;
//$font-main-semi-bold: 'Montserrat Alternates SemiBold', sans-serif;
//$font-main-semi-bold-i: 'Montserrat Alternates SemiBoldItalic', sans-serif;
//$font-main-bold: 'Montserrat Alternates Bold', sans-serif;
//$font-main-bold-i: 'Montserrat Alternates BoldItalic', sans-serif;
//$font-main-extra-bold: 'Montserrat Alternates ExtraBold', sans-serif;
//$font-main-extra-bold-i: 'Montserrat Alternates ExtraBoldItalic', sans-serif;
//$font-main-black: 'Montserrat Alternates Black', sans-serif;
//$font-main-black-i: 'Montserrat Alternates BlackItalic', sans-serif;
$font-feather: 'feather';

$font-main-100: 'Museo Sans Cyrl 100', sans-serif;
$font-main-100-i: 'Museo Sans Cyrl 100 italic', sans-serif;
$font-main-300: 'Museo Sans Cyrl 300', sans-serif;
$font-main-300-i: 'Museo Sans Cyrl 300 italic', sans-serif;
$font-main-500: 'Museo Sans Cyrl 500', sans-serif;
$font-main-500-i: 'Museo Sans Cyrl 500 italic', sans-serif;
$font-main-700: 'Museo Sans Cyrl 700', sans-serif;
$font-main-700-i: 'Museo Sans Cyrl 700 italic', sans-serif;
$font-main-900: 'Museo Sans Cyrl 900', sans-serif;
$font-main-900-i: 'Museo Sans Cyrl 900 italic', sans-serif;
