$mobile-sm: 374px !default;
$mobile-md: 567px !default;
$mobile-lg: 767px !default;

@mixin mobile-md {
  @media only screen and (min-width: $mobile-sm + 1) and (max-width: $mobile-md) {
    @content;
  }
}

@mixin mobile-lg {
  @media only screen and (min-width: $mobile-md + 1) and (max-width: $mobile-lg) {
    @content;
  }
}
