@import "../shared/variables";
@import "../shared/mixin/index";
.bp-tooltip {
	&:hover {
		&::before {
			content: attr(data-content);
			font-size: 110%;
			font-weight: 700;
			line-height: 1.2;
			position: absolute;
			top: 1.5em;
			right: 0;
			width: 50vw;
			padding: 0.8em 1em;
			text-align: right;
			text-indent: 0;
			letter-spacing: 0;
			text-transform: none;
			color: #fff;
			background: #5c5edc;
		}
	}
	
	&::after {
		position: relative;
		top: -8px;
		left: -8px;
		display: inline-block;
		width: 0;
		height: 0;
	}
}

.bp-nav {
	margin: 0.5em 0 0 auto;
	text-align: right;
	
	&__item {
		position: relative;
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
		margin: 0 0.1em;
		text-align: left;
		border-radius: 50%;
		
		& > span {
			display: none;
		}
		
		&:hover {
			background: #5c5edc;
			
			&::before {
				content: attr(data-info);
				font-size: 0.85em;
				font-weight: bold;
				position: absolute;
				top: 120%;
				right: 0;
				width: 600%;
				text-align: right;
				pointer-events: none;
				color: #595a5f;
			}
		}
	}
	
	.bp-icon {
		&::after {
			line-height: 2.4;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent: 0;
		}
	}
	
	a {
		&:hover {
			&::after {
				color: #fff;
			}
		}
	}
}

.dummy {
	&-logo {
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		height: 120px;
		padding: 1em 0 0 0;
		text-align: center;
		color: #3b3d4a;
		background: #1c1d22;
	}
	
	&-icon {
		font-size: 4em;
	}
	
	&-heading {
		font-size: 0.75em;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 99;
	padding: rem(14, 15);
	transition: padding .15s ease, background-color .15s ease;
	
	.btn-menu {
		position: initial !important;
	}
	
	&.fixed {
		padding-top: rem(10);
		padding-bottom: rem(10);
		//background-color: rgba($primary, .85);
	}

	.svg-undo {
		width: rem(31);
		height: rem(21);

		@include mobile-md {
			width: rem(33);
			height: rem(24);
		}

		@include mobile-lg {
			width: rem(40);
			height: rem(31);
		}
	}

	.svg-bars_menu {
		width: rem(29);
		height: rem(21);

		@include mobile-md {
			width: rem(32);
			height: rem(24);
		}

		@include mobile-lg {
			width: rem(39);
			height: rem(31);
		}
	}

	.svg-user {
		width: rem(20);
		height: rem(21);

		@include mobile-md {
			width: rem(23);
			height: rem(24);
		}

		@include mobile-lg {
			width: rem(30);
			height: rem(31);
		}
	}
}

//@media screen and (max-width: 767px) {
.bp-header {
	@media screen and (min-width: 768px) {
		padding-top: 3em;
	}
}
.bp-header__main,
.bp-nav {
	width: 100%;
	text-align: center;
}
.dummy-logo {
	display: none;
}
//}
