@import "../shared/variables";
@import "../shared/mixin/index";

@import "../libs/fontawosome/fontawosome.css";



.mm-panel, .mm-navbar {
	background-color: $contrast;
}

.mm-listitem__text {
	.fa {
		font-size: 16px;
		text-align: center;
		color: #999;
		line-height: 20px;
		width: 25px;
		margin-right: 15px;
		float: left;
		-webkit-transition: color 1s ease;
		-o-transition: color 1s ease;
		transition: color 1s ease;
	}
}

.mm-listitem__text {
	padding-left: 15px;
	font-size: rem(14);

	.fa {
		color: $secondary;
	}
}
.mm-menu_opened .mm-panel_opened.mm-panel_iconpanel-first .fa {
	color: $primary;
}

.listview-icons > .mm-listitem:after {
	left: 50px;
}

.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited {
	color: $secondary;
}

.mm-counter {
	color: $primary;
}
