@import "../shared/variables";
@import "../shared/mixin/index";

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: $contrast;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  transition: opacity .15s ease, visibility .15s ease;

  &.loading {
    opacity: 1;
    visibility: visible;
  }
}
