@import "../shared/variables";
@import "../shared/mixin/index";

.tab-bar {
	box-shadow: 0 0 79px rgba($secondary, .19);
	background-color: $contrast;
	padding-left: rem(15);
	padding-right: rem(15);
	transform: translateY(0);
	transition: transform .5s ease-in-out;

	&-unstyle {
		box-shadow: none;
		background-color: transparent;
	}

	.sticky-tab-bar & {
		transform: translateY(100%);
	}

	&__float {
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		z-index: 1;
	}
	
	&-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}
	
	&__btn {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: rem(9, 0);
		
		&::before {
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			top: 0;
			z-index: 1;
			height: 0;
			opacity: 0;
			background-color: $primary;
			transition: height .15s ease;
		}
		
		&.active {
			&::before {
				opacity: 1;
				height: rem(3.5);
			}

			.tab-bar__label {
				color: rgba($dark, 1);
			}

			.tab-bar__icon {
				fill: rgba($dark, 1);
			}
		}
	}
	
	&__label {
		display: block;
		margin-bottom: rem(6);
		color: rgba($dark, .4);
		font-family: $font-main-300;
		font-size: rem(10);
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: rem(-.56);
		white-space: nowrap;
		transition: color .15s ease;

		@include mobile-md {
			font-size: rem(11);
		}

		@include mobile-lg {
			font-size: rem(12);
		}
	}

	&__icon {
		transition: fill .15s ease;
		fill: rgba($dark, .4);
	}

	.svg-box {
		width: rem(31);
		height: rem(29);

		@include mobile-md {
			width: rem(33);
			height: rem(31);
		}

		@include mobile-lg {
			width: rem(40);
			height: rem(38);
		}
	}

	.svg-add-to-basket {
		width: rem(29);
		height: rem(29);

		@include mobile-md {
			width: rem(31);
			height: rem(31);
		}

		@include mobile-lg {
			width: rem(38);
			height: rem(38);
		}
	}

	.svg-mail {
		width: rem(35);
		height: rem(29);

		@include mobile-md {
			width: rem(37);
			height: rem(31);
		}

		@include mobile-lg {
			width: rem(44);
			height: rem(38);
		}
	}

	.svg-browser {
		width: rem(29);
		height: rem(29);

		@include mobile-md {
			width: rem(31);
			height: rem(31);
		}

		@include mobile-lg {
			width: rem(38);
			height: rem(38);
		}
	}

	.svg-pencil-rule {
		width: rem(28);
		height: rem(28);

		@include mobile-md {
			width: rem(30);
			height: rem(30);
		}

		@include mobile-lg {
			width: rem(37);
			height: rem(37);
		}
	}

	.svg-calendar {
		width: rem(18);
		height: rem(18);
		fill: $contrast;

		@include mobile-md {
			width: rem(20);
			height: rem(20);
		}

		@include mobile-lg {
			width: rem(28);
			height: rem(28);
		}
	}
}


