@import "../shared/variables";
@import "../shared/mixin/index";

.accordion {
  &__header {
    position: relative;
    padding-right: rem(32);

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      right: rem(10);
      z-index: 1;
      pointer-events: none;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 135.3 240.8' style='enable-background:new 0 0 135.3 240.8;' xml:space='preserve'%3E%3Cpath fill='%23734A91' id='Chevron_Right' d='M5.1,129l108.3,108.3c4.8,4.7,12.5,4.7,17.2,0c4.8-4.7,4.8-12.4,0-17.2l-99.7-99.7l99.7-99.7 c4.8-4.7,4.8-12.4,0-17.2c-4.8-4.7-12.5-4.7-17.2,0L5.1,111.8C0.4,116.5,0.4,124.3,5.1,129z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      width: rem(10);
      height: rem(20);

      @include mobile-md {
        width: rem(12);
        height: rem(22);
      }

      @include mobile-lg {
        width: rem(14);
        height: rem(24);
      }

      .hidden & {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }
}
