@import "../shared/variables";
@import "../shared/mixin/index";

.breadcrumbs {
	font-family: $font-main-500;

	&-scroll {
		position: relative;

		&::before, &::after {
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			width: rem(16);
			z-index: 1;
		}

		&::before {
			left: 0;
			background: linear-gradient(to left, rgba(255,255,255,0), $contrast);
		}

		&::after {
			right: 0;
			background: linear-gradient(to right, rgba(255,255,255,0), $contrast);
		}

		ul {
			li {
				&:first-child {
					margin-left: rem(16);
				}
				&:last-child {
					margin-right: rem(16);
				}
			}
		}
	}

	ul {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		
		li {
			position: relative;
			
			&:not(:last-child) {
				padding-right: rem(8);
				margin-right: rem(3);
				
				&::after {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					content: '';
					line-height: 1;
					width: rem(4);
					height: rem(4);
					border-radius: 50%;
					background-color: $primary;
				}
			}
			
			a, span {
				font-size: rem(13);
				white-space: nowrap;
				line-height: 1;

				@include mobile-md {
					font-size: rem(14);
				}

				@include mobile-lg {
					font-size: rem(16);
				}
			}

			a {
				color: $primary;
				cursor: pointer;
			}
		}
	}
}
