@import "../shared/variables";
@import "../shared/mixin/index";

.card {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	background-clip: border-box;
	position: relative;
	margin: auto;
	border: none;
	box-shadow: 0 0 12px 1px rgba($secondary, .24);
	border-radius: rem(12);
	background-color: $contrast;

	& + & {
		margin-top: rem(8);
	}

	&-logo {
		position: absolute;
		top: rem(-30);
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		pointer-events: none;

		@include mobile-md {
			top: rem(-38);
		}

		@include mobile-lg {
			top: rem(-50);
		}

		.svg-icon {
			width: rem(70);
			height: rem(70);

			@include mobile-md {
				width: rem(76);
				height: rem(76);
			}

			@include mobile-lg {
				width: rem(100);
				height: rem(100);
			}
		}
	}

	&-body {
		padding: rem(18, 16);
	}

	&-footer {
		padding: rem(0, 16, 18);
	}

	&-number {
		margin-bottom: rem(3);
		font-size: rem(20);
		line-height: 1.2;
		letter-spacing: rem(-1.04);
		font-family: $font-main-500;
		font-weight: 400;
		color: $dark;

		@include mobile-md {
			font-size: rem(24);
		}

		@include mobile-lg {
			font-size: rem(32);
			margin-bottom: rem(4);
		}

		.dot-dot-dot {
			margin: 0 rem(4);
			position: relative;
			top: -.25em;
			letter-spacing: .05em;
		}
	}

	&-switcher {
		position: relative;
		z-index: 2;
	}

	&-chart {
		width: rem(120);
		height: rem(120);

		@include mobile-md {
			width: rem(130);
			height: rem(130);
		}

		@include mobile-lg {
			width: rem(160);
			height: rem(160);
		}

		&.ml-3 {
			margin-left: rem(4) !important;

			@include mobile-md {
				margin-left: rem(16) !important;
			}
		}
	}

	.svg-menu-dots {
		width: rem(5);
		height: rem(20);

		@include mobile-lg {
			width: rem(6);
			height: rem(21);
		}
	}
}
