@import "../shared/variables";
@import "../shared/mixin/index";

.chat {
  display: flex;
  flex-direction: column;
  font-size: 0;

  &__body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: rem(8, 15, 58);
  }

  &__footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    flex-shrink: 0;
    padding: rem(8, 15);

    .svg-chat-input-user {
      width: rem(32);
      height: rem(32);

      @include mobile-md {
        width: rem(34);
        height: rem(34);
      }

      @include mobile-lg {
        width: rem(42);
        height: rem(42);
      }
    }
  }

  &__chat {

  }

  &__row {
    & + & {
      margin-top: rem(18);
    }
  }

  &__form {

  }

  &__post {

  }

}

.chat-form {
  display: flex;

  &__input {

  }

  &__submit {
    font-size: 0;

    .svg-paper-planer {
      fill: $primary;
      width: rem(44);
      height: rem(32);

      @include mobile-md {
        width: rem(46);
        height: rem(34);
      }

      @include mobile-lg {
        width: rem(54);
        height: rem(42);
      }
    }
  }
}

.post {
  display: flex;

  &.post-opposite {
    flex-direction: row-reverse;
  }

  &__icon {
    width: rem(41);
    height: rem(41);
    flex-shrink: 0;
    margin-left: rem(6);

    @include mobile-md {
      font-size: rem(43);
      width: rem(43);
      height: rem(43);
    }

    @include mobile-lg {
      font-size: rem(51);
      width: rem(51);
      height: rem(51);
    }

    .post-opposite & {
      margin-left: 0;
      margin-right: rem(6);
    }

    .svg-icon {
      display: block;
      width: 100%;
      height: 100%;
    }

  }

  &__body {
    flex: 1;
    padding-top: rem(10);
  }

  &__text {
    padding: rem(8, 10);
    color: $dark;
    font-size: rem(12);
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: rem(-.14);
    background-color: $contrast;
    border-radius: rem(8, 0, 8, 8);

    @include mobile-md {
      padding: rem(12);
      font-size: rem(13);
    }

    @include mobile-lg {
      padding: rem(14);
      font-size: rem(16);
    }

    .post-opposite & {
      background-color: #dfd8e3;
      border-radius: rem(0, 8, 8, 8);
    }
  }

  &__time {
    display: block;
    margin-top: rem(6);
    padding-left: rem(15);
    color: $dark;
    font-size: rem(10);
    line-height: 1;
    font-weight: 400;
    letter-spacing: rem(-.13);
    text-align: left;

    @include mobile-md {
      padding-left: rem(25);
      font-size: rem(12);
    }

    @include mobile-lg {
      padding-left: rem(35);
      font-size: rem(14);
    }

    .post-opposite & {
      padding-right: rem(15);
      padding-left: 0;
      text-align: right;

      @include mobile-md {
        padding-right: rem(25);
      }

      @include mobile-lg {
        padding-right: rem(35);
      }
    }
  }
}
