@import "../shared/variables";
@import "../shared/mixin/index";

.counter {
	position:relative;

	&::before {
		display: block;
		content: '';
		padding-top: 100%;
	}

	&__circle {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		pointer-events: none;

		&-value {
			transform: rotate(270deg);
			transform-origin: center;
			transition: all 1s ease-in-out;
		}
	}

	&__value{
		position:absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display:flex;
		justify-content:center;
		align-items:center;
		user-select: none;
		font-size: rem(16);
		line-height: 1;
		font-family: $font-main-300;
		font-weight: 400;
		color: $dark;

		@include mobile-md {
			font-size: rem(20);
		}

		@include mobile-lg {
			font-size: rem(24);
		}
	}
}
