@import "../shared/variables";
@import "../shared/mixin/index";

.letter-icon {
  display: inline-flex;
  position: relative;
  width: rem(50);
  height: rem(50);

  @include mobile-md {
    width: rem(54);
    height: rem(54);
  }

  @include mobile-lg {
    width: rem(64);
    height: rem(64);
  }

  .svg-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: visibility .25s ease-in-out, opacity .25s ease-in-out, transform .25s ease-in-out;
  }

  &.opened {
    [data-letter="opened"] {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    [data-letter="closed"] {
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
    }
  }

  [data-letter="opened"] {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
  }

  [data-letter="closed"] {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}
