@import "../shared/variables";
@import "../shared/mixin/index";

.list-items {
	display: flex;
	flex-direction: column;
}

.list-item {
	padding: rem(12, 16, 8, 16);
	box-shadow: 0 0 7px rgba($secondary, .13);
	border-radius: rem(6);
	background-color: $contrast;
	line-height: 1;

	.btn-date-time-picker-list {
		position: relative;
		font-size: 0;

		.gj-datepicker {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			z-index: 1;
		}
	}
	
	&.list-item-not-active {
		//background-color: $primary-disabled;

		.svg-letter-opened {
			display: none;
		}

		.svg-letter-closed {
			display: block;
		}
	}
	
	& + & {
		margin-top: rem(7);
	}

	.svg-letter-opened {
		display: block;
		width: rem(23);
		height: rem(23);

		@include mobile-md {
			width: rem(25);
			height: rem(25);
		}

		@include mobile-lg {
			width: rem(33);
			height: rem(33);
		}
	}

	.svg-letter-closed {
		display: none;
		width: rem(23);
		height: rem(23);
		fill: $primary;

		@include mobile-md {
			width: rem(25);
			height: rem(25);
		}

		@include mobile-lg {
			width: rem(33);
			height: rem(33);
		}
	}
	
	.svg-icon, .img-icon {
		width: rem(48);
		height: rem(48);

		@include mobile-lg {
			width: rem(64);
			height: rem(64);
		}
	}
	
	.row {
		flex-wrap: nowrap;
	}

	.svg-arrow-right, .counter {
		width: rem(25);
		height: rem(25);

		@include mobile-md {
			width: rem(27);
			height: rem(27);
		}

		@include mobile-lg {
			width: rem(35);
			height: rem(35);
		}
	}

	.counter {

		&__value {
			font-size: rem(6);

			@include mobile-md {
				font-size: rem(8);
			}

			@include mobile-lg {
				font-size: rem(12);
			}
		}
	}

	.svg-loading {
		position: relative;
		transform: rotate(-90deg);
		width: rem(25);
		height: rem(25);

		@include mobile-md {
			width: rem(27);
			height: rem(27);
		}

		@include mobile-lg {
			width: rem(35);
			height: rem(35);
		}
	}

	.svg-verified, .svg-is-end, .svg-current-executor  {
		width: rem(21);
		height: rem(25);

		@include mobile-md {
			width: rem(23);
			height: rem(27);
		}

		@include mobile-lg {
			width: rem(31);
			height: rem(35);
		}
	}

	.svg-hourglass {
		width: rem(21);
		height: rem(25);

		@include mobile-md {
			width: rem(23);
			height: rem(27);
		}

		@include mobile-lg {
			width: rem(31);
			height: rem(35);
		}
	}

	.svg-menu-dots {
		width: rem(4);
		height: rem(17);

		@include mobile-md {
			width: rem(4);
			height: rem(19);
		}

		@include mobile-lg {
			width: rem(6);
			height: rem(21);
		}
	}

	.btn-tooltip + .tooltip {
		min-width: rem(242);

		@include mobile-md {
			min-width: rem(297);
		}

		@include mobile-lg {
			min-width: rem(398);
		}
	}
}
