@import "../shared/variables";
@import "../shared/mixin/index";

.media {
  display: flex;
  align-items: flex-start;

  &-body {
    flex: 1;
  }

  &-comment {
    font-size: rem(10);
    line-height: 1.2;
    letter-spacing: rem(-.12);
    font-weight: 500;

    @include mobile-md {
      font-size: rem(11);
    }

    @include mobile-lg {
      font-size: rem(14);
    }
  }

  .svg-icon {
    width: rem(48);
    height: rem(48);

    @include mobile-md {
      width: rem(54);
      height: rem(54);
    }

    @include mobile-lg {
      width: rem(58);
      height: rem(58);
    }
  }
}
