@import "../shared/variables";
@import "../shared/mixin/index";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility .35s ease-in-out, opacity .35s ease-in-out;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  &__overlay {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgba($dark, .54118);
  }

  &__dialog {
    position: relative;
    z-index: 1;
    flex: 1;
    padding: rem(16);
    opacity: 0;
    transform: translateY(15px) scale(.8);
    transition: all .15s ease-in-out;

    .is-open & {
      transform: translateY(0) scale(1);
      opacity: 1;
      transition: all .15s ease-in-out .5s;
    }
  }

  &__close {
    position: absolute;
    top: rem(-15);
    right: rem(15);
    z-index: 1;
    color: $dark;

    svg {
      pointer-events: none;
      width: rem(20);
      height: rem(20);
    }
  }

}

.m-tooltip {
  width: 100%;
  padding: rem(20);
  box-shadow: 0px 9px 21px rgba($secondary, .85);
  border-radius: rem(6);
  background-color: $contrast;
  line-height: 1;
  text-transform: initial;
  transition: all .15s ease-in-out;

  &__icon {
    width: rem(36);
    height: rem(36);

    @include mobile-md {
      width: rem(41);
      height: rem(41);
    }

    @include mobile-lg {
      width: rem(50);
      height: rem(50);
    }
  }

  &__title {
    margin-top: rem(5);
    margin-bottom: rem(2);
    color: $primary;
    font-size: rem(12);
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    @include mobile-md {
      font-size: rem(13);
    }

    @include mobile-lg {
      font-size: rem(14);
    }
  }

  &__text {
    color: $dark;
    font-family: $font-main-100;
    font-size: rem(12);
    font-weight: 100;

    @include mobile-md {
      font-size: rem(13);
    }

    @include mobile-lg {
      font-size: rem(14);
    }
  }
}
