@import "../shared/variables";
@import "../shared/mixin/index";

.np {
  &__logo {
    position: relative;
    top: rem(2);
    padding: rem(2, 12, 2, 6);
    font-family: $font-main-700;
    font-size: rem(22);
    font-weight: 400;
    text-transform: uppercase;
    color: $dark;
    border: 1px solid $dark;
    border-radius: rem(4);
  }

  &__text {
    position: relative;
    left: rem(-10);
    background-color: $contrast;
    text-transform: uppercase;
    font-size: rem(13);
    font-weight: 400;
    font-family: $font-main-500;
  }
}
