@import "../shared/variables";
@import "../shared/mixin/index";

.progress {
  span {
    display: block;
    background-color: $primary;
    height: rem(2);
    width: 0;
    overflow: visible !important;
  }
}
