@import "../shared/variables";
@import "../shared/mixin/index";

.rate {
  .svg-star {
    width: rem(22);
    height: rem(22);
    fill: $primary;

    @include mobile-md {
      width: rem(24);
      height: rem(24);
    }

    @include mobile-lg {
      width: rem(32);
      height: rem(32);
    }
  }
}
