@import "../shared/variables";
@import "../shared/mixin/index";

.slider-nav {
  .slick-slide {
    height: rem(70);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include mobile-lg {
      height: rem(74);
    }

    &.slick-current {
      .slick-img-small {
        border-color: $primary;

        img {
          width: rem(44);
          height: rem(44);
        }
      }
    }
  }
  .slick-img-small {
    display: inline-flex;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border .3s ease-in-out;

    img {
      display: block;
      width: rem(38);
      height: rem(38);
      backface-visibility: hidden;
      transition: width .3s ease-in-out,
      height .3s ease-in-out;
    }
  }

}
.slider-for {
  img {
    backface-visibility: hidden;
  }slick-img-small
  h4 {
    font-family: $font-main-300;
  }
}

.slick-slide {
  overflow: hidden;
}

.slider-dots {
  font-size: rem(14);

  .slick-list {
    //text-align: center;
  }
  .slick-dots {
    position: fixed;
    bottom: rem(70);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;

    li {
      font-size: 0;
      line-height: 1;

      & + li {
        margin-left: rem(8);
      }

      &.slick-active {
        button {
          background-color: $primary;
        }
      }

      button {
        display: block;
        border-radius: 50%;
        width: rem(14);
        height: rem(14);
        background-color: lighten($primary, 25%);
        transition: background-color .15s ease-in-out;
      }
    }
  }
}

.slider-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.sec-slider {
  .slick-slide {
    @media screen and (orientation: portrait){
      min-height: 100vh;
      height: 1px;

      & > div {
        min-height: inherit;
        height: 1px;
      }

      .sec-main {
        height: 100%;
      }
    }
  }
}
