@import "../shared/variables";
@import "../shared/mixin/index";

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  
  thead {
    background-color: $primary;

    th {
      color: $contrast;
      padding: rem(5.6, 4);
      font-size: rem(10);
      font-weight: 700;
      letter-spacing: rem(-.12);

      @include mobile-md {
        font-size: rem(11);
      }

      @include mobile-lg {
        font-size: rem(13);
      }

      &:first-child {
        padding-left: rem(13);
        border-radius: rem(6) 0 0 rem(6);
      }

      &:last-child {
        border-radius: 0 rem(6) rem(6) 0;
        padding-right: rem(13);
      }
    }
  }

  tbody {

    tr {
      transition: background-color .15s ease-in-out;

      &:hover, &:focus {
        background-color: rgba($primary, .15);
      }
    }

    td {
      padding: rem(5.6, 4);
      font-size: rem(10);
      font-weight: 600;
      letter-spacing: rem(-.12);

      @include mobile-md {
        font-size: rem(11);
      }

      @include mobile-lg {
        font-size: rem(13);
      }

      &:first-child {
        padding-left: rem(13);
        border-radius: rem(6) 0 0 rem(6);
      }

      &:last-child {
        padding-right: rem(13);
        border-radius: 0 rem(6) rem(6) 0;
      }
    }
  }
}
