@import "../shared/variables";
@import "../shared/mixin/index";

.wrap-tooltip {
  position: relative;
}

.tooltip {
  min-width: rem(80);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 999;
  padding: rem(10);
  box-shadow: 2px 2px 10px rgba($secondary, .13);
  border-radius: rem(6);
  background-color: $contrast;
  line-height: 1;
  text-transform: initial;
  transition: all .15s ease-in-out;

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &[data-tooltip="top"] {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    &.open {
      bottom: calc(100% + .5rem);
    }

    &::before {
      border-width: rem(7) rem(7) 0 rem(7);
      border-color: $contrast transparent transparent transparent;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &[data-tooltip="bottom"] {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    &.open {
      top: calc(100% + .5rem);
    }

    &::before {
      border-width: 0 rem(7) rem(7) rem(7);
      border-color: transparent transparent $contrast transparent;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &[data-tooltip="left"] {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);

    &.open {
      right: calc(100% + .5rem);
    }

    &::before {
      border-width: rem(7) 0 rem(7) rem(7);
      border-color: transparent transparent transparent $contrast;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[data-tooltip="right"] {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    &.open {
      left: calc(100% + .5rem);
    }

    &::before {
      border-width: rem(7) rem(7) rem(7) 0;
      border-color: transparent $contrast transparent transparent;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__icon {
    width: rem(36);
    height: rem(36);

    @include mobile-md {
      width: rem(41);
      height: rem(41);
    }

    @include mobile-lg {
      width: rem(50);
      height: rem(50);
    }
  }

  &__title {
    margin-top: rem(5);
    margin-bottom: rem(2);
    color: $primary;
    font-size: rem(12);
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    @include mobile-md {
      font-size: rem(13);
    }

    @include mobile-lg {
      font-size: rem(14);
    }
  }

  &__text {
    color: $dark;
    font-family: $font-main-100;
    font-size: rem(12);
    font-weight: 100;

    @include mobile-md {
      font-size: rem(13);
    }

    @include mobile-lg {
      font-size: rem(14);
    }
  }

  a {
    display: block;
    padding: rem(4, 12);
    cursor: pointer;
    font-size: rem(10);
    color: $dark;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
  }

  a {
    &:hover {
      background-color: $primary-hover;
      color: $contrast;
    }

    & + a {
      border-top: 1px solid rgba($light, .15);
    }
  }
}
