@import "../../shared/variables";
@import "../../shared/mixin/index";

.btn {
	display: inline-flex;
	justify-content: center;
	border: 1px solid transparent;
	border-radius: rem(6);
	padding: rem(11, 22);
	color: $contrast;
	font-family: $font-main-500;
	font-size: rem(13);
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: rem(-1.06);
	white-space: nowrap;
	transition: all .15s ease;

	@include mobile-md {
		font-size: rem(14);
	}

	@include mobile-lg {
		font-size: rem(15);
	}

	&-sm {
		font-size: rem(12);
		padding: rem(8, 21);

		@include mobile-md {
			font-size: rem(13);
		}

		@include mobile-lg {
			font-size: rem(14);
		}
	}

	&-min-lg {
		min-width: 68%;
	}

	&-block {
		width: 100%;
	}
	
	&-primary {
		background-color: $primary;
		border-color: $primary;
		
		&:focus {
			box-shadow: none !important;
		}
		
		//&:not(:disabled):not(.disabled):hover,
		//&:not(:disabled):not(.disabled).hover{
		//	background-color: $primary-hover;
		//	border-color: $primary-hover;
		//	color: $contrast;
		//}
		//
		//&:not(:disabled):not(.disabled):active,
		//&:not(:disabled):not(.disabled).active {
		//	background-color: $contrast;
		//	border-color: $primary;
		//	color: $primary;
		//
		//	&:focus {
		//		box-shadow: none;
		//	}
		//}

		&:disabled {
			background-color: $primary-disabled;
			border-color: $primary-disabled;
			color: $contrast;
			pointer-events: none;
		}
	}

	&-info {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: rem(8);
		height: rem(8);
		font-size: rem(6);
		line-height: 1;
		font-weight: 700;
		font-style: italic;
		font-family: $font-main-700-i, sans-serif;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid $dark;
		color: $dark;

		@include mobile-md {
			width: rem(10);
			height: rem(10);
			font-size: rem(8);
		}

		@include mobile-lg {
			width: rem(12);
			height: rem(12);
			font-size: rem(10);
		}
	}
}

.btn-tooltip {
	cursor: pointer;
}

.dropdown-toggle {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&.active {
		.dropdown-toggle__arrow {
			transform: rotate(0deg);
		}
	}

	&__arrow {
		pointer-events: none;
		transform: rotate(180deg);
	}

	&__text {
		color: $dark;
		font-size: rem(14);
		font-weight: 400;
		text-transform: uppercase;
	}
}
