@import "../../shared/variables";
@import "../../shared/mixin/index";

/* Moema */
a.btn-moema {
  padding-top: rem(8);
  padding-bottom: rem(8);
}
.btn-moema {
  position: relative;

  &:hover {
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    background-color: $primary;
    border-color: $primary;
    color: $contrast;
    animation: anim-moema-1 0.3s forwards;

    &::before {
      animation: anim-moema-2 0.3s 0.3s forwards;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: inherit;
    border-radius: rem(6);
    z-index: -1;
    opacity: 0.4;
    transform: scale3d(0.8, 0.5, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
}
