@import "../../shared/variables";
@import "../../shared/mixin/index";

.datepicker-inline {
  .datepicker-container {
    margin: auto;
    width: rem(252);
    background-color: transparent;
  }
  .datepicker-panel {

    & > ul {
      width: 100%;

      &[data-view="week"] {
        margin-bottom: rem(20);

        li {
          &:hover {
            background-color: transparent !important;
          }
        }

      }

      & > li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: $dark;
        font-size: rem(15);
        height: rem(22);
        margin: rem(3);

        &.muted {
          color: $secondary;
        }

        &.picked {
          background-color: $primary;
          color: $contrast;
          border-radius: rem(4);
        }
      }

      &:first-child {
        display: flex;
        justify-content: center;

        &:before, &:after {
          display: none;
        }

        li[data-view="years prev"], li[data-view="years next"],
        li[data-view="month prev"], li[data-view="month next"] {
          position: relative;
          z-index: 99;
          font-size: rem(30) !important;
        }

        li[data-view="years current"], li[data-view="month current"] {
          flex: 1 !important;
        }
      }
    }
  }
}
