@import "../../shared/variables";
@import "../../shared/mixin/index";

.gj-datepicker {
  position: relative;

  .input-group-append {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .form-control {
    text-align: center;
  }
}

.gj-datepicker-bootstrap [role=right-icon] button {
  width: 100%;
  height: 100%;
  border: none;
}

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
  position: static;
}

.gj-picker-bootstrap {
  width: 90%;

  table {
    width: 100%;

    tr td.selected.gj-cursor-pointer div {
      background-color: $primary;
      border-color: $primary;
    }
  }

  .modal-footer {
    text-align: center;
    background-color: #eee;

    .btn {
      color: $dark;
    }
  }
}
.gj-picker [role=body] [role=dial] {
  margin: 10px auto;
}

.date-time-picker-text {
  text-align: left !important;
  background-color: transparent;
  border: none;

  & + .input-group-append {
    .btn {
      padding: 0;

      .gj-icon {
        position: absolute;
        right: 0;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        color: $primary;
      }
    }
  }
}
