@import "../../shared/variables";
@import "../../shared/mixin/index";

.input-default {
  display: block;
  width: 100%;
  padding: 0 rem(15);
  height: rem(34);
  border: 1px solid $light;
  border-radius: rem(4);
  background-color: $contrast;
  color: $dark;
  font-family: $font-main-100;
  font-size: rem(12);
  font-weight: 400;
  letter-spacing: rem(-.14);

  @include mobile-md {
    font-size: rem(13);
    height: rem(32);
  }

  @include mobile-lg {
    font-size: rem(16);
    height: rem(42);
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: $dark;
    transition: opacity .15s ease-in-out;
  }
}
