@import "../../shared/variables";
@import "../../shared/mixin/index";

.input-edit {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $secondary;
  font-size: rem(13);
  font-family: $font-main-500;
  letter-spacing: -.05em;
}
