@import "../../shared/variables";
@import "../../shared/mixin/index";

.form-control-file {
	color: $dark;
	font-weight: 500;
	font-size: rem(13);
	//letter-spacing: -.122em;
	font-family: $font-main-500;

	@include mobile-md {
		font-size: rem(14);
	}

	@include mobile-lg {
		font-size: rem(16);
	}

	&__item {
		& + .form-control-file__item {
			margin-left: rem(10);

			@include mobile-lg {
				margin-left: rem(16);
			}
		}
	}

	&__input {
		display: none;
	}

	&__img {
		width: rem(27);
		height: rem(19);

		@include mobile-md {
			width: rem(28);
			height: rem(21);
		}

		@include mobile-lg {
			width: rem(41);
			height: rem(29);
		}
	}

	&__label {
		display: inline-flex;
		margin-bottom: rem(9);
	}

	.svg-add {
		margin-top: rem(3);
		margin-bottom: 0;

		@include mobile-lg {
			margin-top: rem(4);
			width: rem(21);
			height: rem(23);
		}
	}
}
