@import "../../shared/variables";
@import "../../shared/mixin/index";

.--focus-label {
	color: $secondary;
	transform: translate3d(0, -1em, 0) scale3d(.75, .75, 1);

	.input-nao__content {
		//padding-left: .85em;
		padding-left: rem(11);
	}
}

.--focus-content {
	stroke: $secondary;
	transform: translate3d(-66.6%, 0, 0);
}

.input-nao {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	font-size: rem(13);
	width: 100%;
	overflow: hidden;
	padding-top: .5em;
	white-space: nowrap;
	font-family: $font-main-500;

	@include mobile-md {
		font-size: rem(14);
	}

	@include mobile-lg {
		font-size: rem(16);
		background-position: calc(100% - .75em) calc(50% + .25rem);
	}

	&_ruble {
		 .input-nao__field {
			 background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 479.2 511.3' style='enable-background:new 0 0 479.2 511.3;' xml:space='preserve'%3E%3Cpath d='M351.2,255.9c70.5,0,127.7-57.2,127.7-127.7S421.7,0.4,351.2,0.4H127.7V192H0v63.9h127.7v63.9H0v63.9h127.7v127.7h63.9 V383.6h127.7v-63.9H191.6v-63.9H351.2z M191.6,64.3h159.6c35.3,0,63.9,28.6,63.9,63.9S386.5,192,351.2,192H191.6V64.3z'/%3E%3C/svg%3E");
		 }
	}

	&__field {
		position: relative;
		display: block;
		border: none;
		border-radius: 0;
		color: $secondary;
		font-family: $font-main-500;
		font-weight: 500;
		font-size: 100%;
		letter-spacing: -.05em;
		appearance: none;
		width: 100%;
		background-color: transparent !important;
		//padding: .5em 2.5em .4em .7em;
		padding: .5em 2.5em .4em rem(8);
		background-image: url("data:image/svg+xml,%3Csvg height='339pt' viewBox='0 0 339.89391 339' width='339pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m123.875 273.050781-1.382812 24 160.453124-160.457031-79.199218-79.199219-160.457032 160.457031 24.050782-1.417968 119.4375-119.429688c3.140625-3.03125 8.128906-2.988281 11.214844.097656 3.085937 3.085938 3.128906 8.074219.097656 11.214844l-119.472656 119.46875-2.117188 36.058594 36.054688-2.121094 119.472656-119.472656c2.007812-2.078125 4.980468-2.914062 7.777344-2.179688 2.796874.730469 4.984374 2.914063 5.714843 5.710938.734375 2.796875-.101562 5.773438-2.179687 7.78125zm0 0'/%3E%3Cpath d='m232.03125 29.109375 5.65625-5.65625 79.203125 79.199219-5.660156 5.660156zm0 0'/%3E%3Cpath d='m215.058594 46.085938 5.65625-5.65625 79.199218 79.203124-5.65625 5.65625zm0 0'/%3E%3Cpath d='m328.195312 34.769531-22.625-22.621093c-15.632812-15.601563-40.941406-15.601563-56.574218 0l79.199218 79.199218c15.597657-15.632812 15.597657-40.945312 0-56.578125zm0 0'/%3E%3Cpath d='m68.449219 280.347656c-2.28125.132813-4.507813-.714844-6.125-2.332031-1.617188-1.613281-2.464844-3.84375-2.328125-6.125l2.300781-39.097656-33.167969 1.945312-20.359375 85.511719-6.328125 6.328125c-2.078125 2.007813-2.914062 4.984375-2.179687 7.78125.730469 2.796875 2.914062 4.980469 5.710937 5.710937 2.796875.734376 5.773438-.101562 7.78125-2.179687l6.328125-6.328125 85.519531-20.359375 1.945313-33.167969zm0 0'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: calc(100% - .5em) 50%;
		background-size: 1.1375em 1.1375em;
		transition: background .15s ease-in-out;

		.input-nao-icon & {
			padding: .5em 2.5em .4em;
			//background-image: url("data:image/svg+xml,%3Csvg height='339pt' viewBox='0 0 339.89391 339' width='339pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m123.875 273.050781-1.382812 24 160.453124-160.457031-79.199218-79.199219-160.457032 160.457031 24.050782-1.417968 119.4375-119.429688c3.140625-3.03125 8.128906-2.988281 11.214844.097656 3.085937 3.085938 3.128906 8.074219.097656 11.214844l-119.472656 119.46875-2.117188 36.058594 36.054688-2.121094 119.472656-119.472656c2.007812-2.078125 4.980468-2.914062 7.777344-2.179688 2.796874.730469 4.984374 2.914063 5.714843 5.710938.734375 2.796875-.101562 5.773438-2.179687 7.78125zm0 0'/%3E%3Cpath d='m232.03125 29.109375 5.65625-5.65625 79.203125 79.199219-5.660156 5.660156zm0 0'/%3E%3Cpath d='m215.058594 46.085938 5.65625-5.65625 79.199218 79.203124-5.65625 5.65625zm0 0'/%3E%3Cpath d='m328.195312 34.769531-22.625-22.621093c-15.632812-15.601563-40.941406-15.601563-56.574218 0l79.199218 79.199218c15.597657-15.632812 15.597657-40.945312 0-56.578125zm0 0'/%3E%3Cpath d='m68.449219 280.347656c-2.28125.132813-4.507813-.714844-6.125-2.332031-1.617188-1.613281-2.464844-3.84375-2.328125-6.125l2.300781-39.097656-33.167969 1.945312-20.359375 85.511719-6.328125 6.328125c-2.078125 2.007813-2.914062 4.984375-2.179687 7.78125.730469 2.796875 2.914062 4.980469 5.710937 5.710937 2.796875.734376 5.773438-.101562 7.78125-2.179687l6.328125-6.328125 85.519531-20.359375 1.945313-33.167969zm0 0'/%3E%3C/svg%3E");
		}

		&.valid {
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath fill='%236b2b9a' d='M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7 C514.5,101.703,514.499,85.494,504.502,75.496z'/%3E%3C/svg%3E");

			& ~ .input-nao__graphic {
				stroke: $primary
			}
		}

		&.invalid {
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22.88 22.88' style='enable-background:new 0 0 22.88 22.88;' xml:space='preserve'%3E%3Cpath fill='%23f04141' d='M0.324,1.909c-0.429-0.429-0.429-1.143,0-1.587c0.444-0.429,1.143-0.429,1.587,0l9.523,9.539 l9.539-9.539c0.429-0.429,1.143-0.429,1.571,0c0.444,0.444,0.444,1.159,0,1.587l-9.523,9.524l9.523,9.539 c0.444,0.429,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0l-9.539-9.539l-9.523,9.539c-0.444,0.429-1.143,0.429-1.587,0 c-0.429-0.444-0.429-1.159,0-1.587l9.523-9.539L0.324,1.909z'/%3E%3C/svg%3E");

			& ~ .input-nao__graphic {
				stroke: $danger
			}
		}

		&_phone {
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='348.077px' height='348.077px' viewBox='0 0 348.077 348.077' style='enable-background:new 0 0 348.077 348.077;' xml:space='preserve'%3E%3Cpath fill='%23734A91' d='M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076 c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257 c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194 C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02 C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876 c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029 C350.631,303.527,350.95,285.795,340.273,275.083z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: .45em 50%;
			//background-size: 1.57em 1.57em;
			background-size: 1.35em 1.35em;
		}

		&_key {
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512'%3E%3Cpath fill='%23734A91' d='m401.3,211.4l-233.9-.1v-70.9c0-48.9 39.7-88.6 88.6-88.6s88.6,39.7 88.6,88.6v16.3c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-16.3c0-71.3-58-129.4-129.4-129.4-71.4,0-129.4,58.1-129.4,129.4v71h-15.9c-17.3,0-31.5,14.1-31.5,31.4v226.7c0,17.3 14.1,31.5 31.5,31.5h290.7c17.3,0 31.5-14.1 31.5-31.5v-226.6c-0.1-17.4-14.2-31.5-31.6-31.5zm-9.4,248.8h-271.8v-208h271.9v208z'/%3E%3Cpath fill='%23734A91' d='m256,433.5c11.3,0 20.4-9.1 20.4-20.4v-49.8c0-11.3-9.1-20.4-20.4-20.4s-20.4,9.1-20.4,20.4v49.8c2.84217e-14,11.3 9.1,20.4 20.4,20.4z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: .45em 50%;
			//background-size: 1.64em 1.64em;
			background-size: 1.35em 1.35em;
		}

		&-not-icon {
			background-image: none;
		}

		&:focus {
			outline: none;

			& + .input-nao__label {
				@extend .--focus-label;
			}

			& ~ .input-nao__graphic {
				@extend .--focus-content;
			}
		}

		&:disabled {
			color: $light;
			background-image: url("data:image/svg+xml,%3Csvg fill='%239A9A9A' height='339pt' viewBox='0 0 339.89391 339' width='339pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m123.875 273.050781-1.382812 24 160.453124-160.457031-79.199218-79.199219-160.457032 160.457031 24.050782-1.417968 119.4375-119.429688c3.140625-3.03125 8.128906-2.988281 11.214844.097656 3.085937 3.085938 3.128906 8.074219.097656 11.214844l-119.472656 119.46875-2.117188 36.058594 36.054688-2.121094 119.472656-119.472656c2.007812-2.078125 4.980468-2.914062 7.777344-2.179688 2.796874.730469 4.984374 2.914063 5.714843 5.710938.734375 2.796875-.101562 5.773438-2.179687 7.78125zm0 0'/%3E%3Cpath d='m232.03125 29.109375 5.65625-5.65625 79.203125 79.199219-5.660156 5.660156zm0 0'/%3E%3Cpath d='m215.058594 46.085938 5.65625-5.65625 79.199218 79.203124-5.65625 5.65625zm0 0'/%3E%3Cpath d='m328.195312 34.769531-22.625-22.621093c-15.632812-15.601563-40.941406-15.601563-56.574218 0l79.199218 79.199218c15.597657-15.632812 15.597657-40.945312 0-56.578125zm0 0'/%3E%3Cpath d='m68.449219 280.347656c-2.28125.132813-4.507813-.714844-6.125-2.332031-1.617188-1.613281-2.464844-3.84375-2.328125-6.125l2.300781-39.097656-33.167969 1.945312-20.359375 85.511719-6.328125 6.328125c-2.078125 2.007813-2.914062 4.984375-2.179687 7.78125.730469 2.796875 2.914062 4.980469 5.710937 5.710937 2.796875.734376 5.773438-.101562 7.78125-2.179687l6.328125-6.328125 85.519531-20.359375 1.945313-33.167969zm0 0'/%3E%3C/svg%3E");

			& + .input-nao__label {
				color: $light;
			}

			& ~ .input-nao__graphic {
				stroke: $light
			}
		}

	}

	&__filled {
		& + .input-nao__label {
			@extend .--focus-label;
		}

		& .input-nao__graphic {
			@extend .--focus-content;
		}
	}

	&__label {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin-bottom: 0;
		position: absolute;
		top: 1em;
		color: $dark;
		font-weight: 500;
		font-size: rem(13);
		letter-spacing: -.05em;
		display: block;
		left: 0;
		right: 0;
		text-align: left;
		padding: 0 2.5em 0 0;
		pointer-events: none;
		transform-origin: 0 0;
		transition: transform .2s .15s, color .2s;
		transition-timing-function: ease-out;

		.input-nao-icon & {
			padding: 0 2.5em;
		}

		@include mobile-md {
			font-size: rem(14);
		}

		@include mobile-lg {
			font-size: rem(16);
		}
	}

	&__content {
		position: relative;
		display: block;
		//padding: 0 0 0 .7em;
		padding: 0 0 0 rem(8);
		width: 100%;
		overflow: hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
		transition: padding-left .2s .15s;

		.input-nao-icon & {
			padding: 0;
		}
	}

	&__graphic {
		position: absolute;
		top: 0;
		left: 0;
		fill: none;
		stroke: $dark;
		pointer-events: none;
		transition: transform .7s, stroke .7s, stroke .15s ease-in-out;
		transition-timing-function: cubic-bezier(0, .25, .5, 1);
	}
}
