@import "../../shared/variables";
@import "../../shared/mixin/index";

.input-nao-static {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  font-size: rem(13);
  width: 100%;
  overflow: hidden;
  padding-top: .5em;
  white-space: nowrap;
  font-family: $font-main-500;

  @include mobile-md {
    font-size: rem(14);
  }

  @include mobile-lg {
    font-size: rem(16);
    background-position: calc(100% - .75em) calc(50% + .25rem);
  }


  &_ruble {
    .input-nao-static__field {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 479.2 511.3' style='enable-background:new 0 0 479.2 511.3;' xml:space='preserve'%3E%3Cpath d='M351.2,255.9c70.5,0,127.7-57.2,127.7-127.7S421.7,0.4,351.2,0.4H127.7V192H0v63.9h127.7v63.9H0v63.9h127.7v127.7h63.9 V383.6h127.7v-63.9H191.6v-63.9H351.2z M191.6,64.3h159.6c35.3,0,63.9,28.6,63.9,63.9S386.5,192,351.2,192H191.6V64.3z'/%3E%3C/svg%3E");
    }
  }

  &__field {
    position: relative;
    display: block;
    border: none;
    border-radius: 0;
    color: $secondary;
    font-weight: 500;
    font-size: 100%;
    letter-spacing: -.05em;
    font-family: $font-main-500;
    appearance: none;
    width: 100%;
    background-color: transparent !important;
    //padding: .5em 2.5em .4em .7em;
    padding: .5em 2.5em .4em rem(8);
    background-image: url("data:image/svg+xml,%3Csvg height='339pt' viewBox='0 0 339.89391 339' width='339pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m123.875 273.050781-1.382812 24 160.453124-160.457031-79.199218-79.199219-160.457032 160.457031 24.050782-1.417968 119.4375-119.429688c3.140625-3.03125 8.128906-2.988281 11.214844.097656 3.085937 3.085938 3.128906 8.074219.097656 11.214844l-119.472656 119.46875-2.117188 36.058594 36.054688-2.121094 119.472656-119.472656c2.007812-2.078125 4.980468-2.914062 7.777344-2.179688 2.796874.730469 4.984374 2.914063 5.714843 5.710938.734375 2.796875-.101562 5.773438-2.179687 7.78125zm0 0'/%3E%3Cpath d='m232.03125 29.109375 5.65625-5.65625 79.203125 79.199219-5.660156 5.660156zm0 0'/%3E%3Cpath d='m215.058594 46.085938 5.65625-5.65625 79.199218 79.203124-5.65625 5.65625zm0 0'/%3E%3Cpath d='m328.195312 34.769531-22.625-22.621093c-15.632812-15.601563-40.941406-15.601563-56.574218 0l79.199218 79.199218c15.597657-15.632812 15.597657-40.945312 0-56.578125zm0 0'/%3E%3Cpath d='m68.449219 280.347656c-2.28125.132813-4.507813-.714844-6.125-2.332031-1.617188-1.613281-2.464844-3.84375-2.328125-6.125l2.300781-39.097656-33.167969 1.945312-20.359375 85.511719-6.328125 6.328125c-2.078125 2.007813-2.914062 4.984375-2.179687 7.78125.730469 2.796875 2.914062 4.980469 5.710937 5.710937 2.796875.734376 5.773438-.101562 7.78125-2.179687l6.328125-6.328125 85.519531-20.359375 1.945313-33.167969zm0 0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - .5em) 50%;
    background-size: 1.1375em 1.1375em;
    transition: background .15s ease-in-out;

    &::placeholder {
      color: $dark;
      font-family: $font-main-500;
      font-weight: 500;
      font-size: rem(13);
      letter-spacing: -.05em;
    }

    &.valid {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath fill='%236b2b9a' d='M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7 C514.5,101.703,514.499,85.494,504.502,75.496z'/%3E%3C/svg%3E");

      & ~ .input-nao__graphic {
        stroke: $primary
      }
    }

    &.invalid {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22.88 22.88' style='enable-background:new 0 0 22.88 22.88;' xml:space='preserve'%3E%3Cpath fill='%23f04141' d='M0.324,1.909c-0.429-0.429-0.429-1.143,0-1.587c0.444-0.429,1.143-0.429,1.587,0l9.523,9.539 l9.539-9.539c0.429-0.429,1.143-0.429,1.571,0c0.444,0.444,0.444,1.159,0,1.587l-9.523,9.524l9.523,9.539 c0.444,0.429,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0l-9.539-9.539l-9.523,9.539c-0.444,0.429-1.143,0.429-1.587,0 c-0.429-0.444-0.429-1.159,0-1.587l9.523-9.539L0.324,1.909z'/%3E%3C/svg%3E");

      & ~ .input-nao__graphic {
        stroke: $danger
      }
    }

    &:focus {
      outline: none;

      & + .input-nao__label {
        @extend .--focus-label;
      }

      & ~ .input-nao__graphic {
        @extend .--focus-content;
      }
    }

    &:disabled {
      color: $light;
      background-image: url("data:image/svg+xml,%3Csvg fill='%239A9A9A' height='339pt' viewBox='0 0 339.89391 339' width='339pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m123.875 273.050781-1.382812 24 160.453124-160.457031-79.199218-79.199219-160.457032 160.457031 24.050782-1.417968 119.4375-119.429688c3.140625-3.03125 8.128906-2.988281 11.214844.097656 3.085937 3.085938 3.128906 8.074219.097656 11.214844l-119.472656 119.46875-2.117188 36.058594 36.054688-2.121094 119.472656-119.472656c2.007812-2.078125 4.980468-2.914062 7.777344-2.179688 2.796874.730469 4.984374 2.914063 5.714843 5.710938.734375 2.796875-.101562 5.773438-2.179687 7.78125zm0 0'/%3E%3Cpath d='m232.03125 29.109375 5.65625-5.65625 79.203125 79.199219-5.660156 5.660156zm0 0'/%3E%3Cpath d='m215.058594 46.085938 5.65625-5.65625 79.199218 79.203124-5.65625 5.65625zm0 0'/%3E%3Cpath d='m328.195312 34.769531-22.625-22.621093c-15.632812-15.601563-40.941406-15.601563-56.574218 0l79.199218 79.199218c15.597657-15.632812 15.597657-40.945312 0-56.578125zm0 0'/%3E%3Cpath d='m68.449219 280.347656c-2.28125.132813-4.507813-.714844-6.125-2.332031-1.617188-1.613281-2.464844-3.84375-2.328125-6.125l2.300781-39.097656-33.167969 1.945312-20.359375 85.511719-6.328125 6.328125c-2.078125 2.007813-2.914062 4.984375-2.179687 7.78125.730469 2.796875 2.914062 4.980469 5.710937 5.710937 2.796875.734376 5.773438-.101562 7.78125-2.179687l6.328125-6.328125 85.519531-20.359375 1.945313-33.167969zm0 0'/%3E%3C/svg%3E");

      & + .input-nao__label {
        color: $light;
      }

      & ~ .input-nao__graphic {
        stroke: $light
      }
    }

  }

  &__graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: $dark;
    pointer-events: none;
    transition: transform .7s, stroke .7s, stroke .15s ease-in-out;
    transition-timing-function: cubic-bezier(0, .25, .5, 1);
  }
}
