@import "../../shared/variables";
@import "../../shared/mixin/index";

.radio {
  display: inline-flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;

  &__input {
    display: none;

    &:checked + .radio__button {

      &::before {
        background-color: $primary;
      }
    }
  }
  
  &__button {
    position: relative;
    width: rem(24);
    height: rem(24);
    border: 1px solid $secondary;
    background-color: $contrast;
    border-radius: 50%;
    transition: border .15s ease-in-out;
    cursor: pointer;

    &:hover, .active & {
      &::before {
        background-color: $primary-hover;
      }
    }

    &:disabled {
      &::before {
        background-color: $primary-disabled;
      }
    }

    &::before {
      position: absolute;
      content: "";
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(14);
      height: rem(14);
      border-radius: 50%;
      pointer-events: none;
      background-color: transparent;
      transition: border .15s ease-in-out, background-color .15s ease-in-out;
    }
  }
}
