@import "../../shared/variables";
@import "../../shared/mixin/index";

.range-calendar {

	.months {
		border-bottom: 1px solid $dark;

		.cell {
			width: rem(105);
			font-size: rem(10);
			color: darken($light, 15%);
			font-weight: 600;
			line-height: 1;
			letter-spacing: rem(-.68);
			transition: color .15s ease, background-color .15s ease;

			@include mobile-md {
				font-size: rem(11);
			}

			@include mobile-lg {
				font-size: rem(14);
			}

			&::before, &::after {
				position: absolute;
				content: '';
				left: 0;
				right: 0;
				z-index: 1;
				height: 1px;
				background-color: transparent;
				pointer-events: none;
				transition: background-color .15s ease;
			}

			&::before {
				top: 100%;
			}
			
			&::after {
				bottom: 100%;
			}
			
			.bullet {
				left: rem(18);
				top: rem(12);
				border-radius: 50%;
				transition: background-color .15s ease;

				@include mobile-md {
					top: rem(12);
				}

				@include mobile-lg {
					top: rem(12);
				}
			}
			
			&.current {
				color: $dark;
			}
			
			&.selected {
				background-color: transparent;
				color: $dark;
				
				&::before, &::after {
					background-color: $dark;
				}
				
				.bullet {
					background-color: $dark;
				}
				
				.date-formatted {
					color: inherit;
					
					.month-name {
						color: inherit;
					}
				}
			}

			.date-formatted {
				font-size: rem(10);
				font-weight: 700;

				.month-name {
					font-size: rem(10);
					font-weight: 700;

					@include mobile-md {
						font-size: rem(11);
					}

					@include mobile-lg {
						font-size: rem(14);
					}
				}

				@include mobile-md {
					font-size: rem(11);
				}

				@include mobile-lg {
					font-size: rem(14);
				}
			}
		}
	}
		
	.calendar {
		.cell {
			width: rem(60);
			padding: rem(16, 20);
			color: darken($light, 15%);
			transition: color .15s ease;
			
			.cell-content {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				transition: bottom .15s ease;
				pointer-events: none;
			}
			.day-number {
				font-size: rem(11);
				font-weight: 600;
				line-height: 1;
				letter-spacing: rem(-1.34);
				text-transform: uppercase;
				pointer-events: none;

				@include mobile-md {
					font-size: rem(13);
				}

				@include mobile-lg {
					font-size: rem(17);
				}
			}
			
			.day {
				margin-bottom: rem(5);
				text-transform: initial;
				font-size: rem(11);
				font-weight: 600;
				line-height: 1;
				letter-spacing: rem(-1.34);
				pointer-events: none;

				@include mobile-md {
					font-size: rem(13);
				}

				@include mobile-lg {
					font-size: rem(17);
				}
			}
			
			&.selected {
				color: $dark;

				&.last {
					border-right: 1px solid rgba($dark, .04) !important;
				}

				.day-number {
					color: inherit;
				}
				
				.cell-content {
					position: relative;
					bottom: rem(3);
				}
				
				.range-bar{
					background-color: transparent;
				}
			}
		}
	}
}
