@import "../../shared/variables";
@import "../../shared/mixin/index";

.irs {
	&--round  {
		height: rem(35);

		.irs-max, .irs-min {
			display: none;
		}
		
		.irs-handle {
			width: rem(18);
			height: rem(18);
			top: 0;
			background-color: darken($primary, 35%);
			border-color: darken($primary, 35%);
			cursor: pointer;
			
			&:hover, &.state_hover {
				background-color: darken($primary, 40%);
			}
		}
		
		.irs-bar, .irs-line {
			top: rem(8);
			background-color: darken($primary, 35%);
		}
		
		.irs-line, .irs-bar {
			border-radius: rem(1);
			height: rem(2);
		}
		
		.irs-single, .irs-from, .irs-to {
			background-color: transparent;
			color: $dark;
			font-family: $font-main-300;
			font-size: rem(11);
			font-weight: 500;
			line-height: 1;
			letter-spacing: rem(-1.34);
			border-radius: 0;
			top: rem(22);
			text-transform: uppercase;

			@include mobile-md {
				font-size: rem(13);
			}

			@include mobile-lg {
				font-size: rem(17);
			}
			
			&::before {
				display: none;
			}
		}
	}
}
