@import "../../shared/variables";
@import "../../shared/mixin/index";

@-webkit-keyframes blink {
  0%,50%,100% {
    opacity: 1;
  }
  25%,75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,50%,100% {
    opacity: 1;
  }
  25%,75% {
    opacity: 0;
  }
}

.custom-search {
  position: relative;

  &__input {
    padding: 4px 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid $dark;
    background: transparent;
    font-size: 12px;
    width: 25px;
    color: transparent;
    text-shadow: 0 0 0 $dark;
    font-weight: bold;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &.active {
      width: 200px;
    }
  }

  &__dash {
    height: 10px;
    width: 1px;
    display: inline-block;
    background-color: $dark;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 2px;
    transform: translate(1px, 16px) rotate(-45deg);

    &.move {
      animation: blink 3s both .7s infinite;
      transform: translate(-185px, 2px) rotate(0deg);
    }
  }
}
