@import "../../shared/variables";
@import "../../shared/mixin/index";

.select-nao {
  position: relative;
  user-select: none;
  //text-align: center;
  -webkit-touch-callout: none;
  padding-top: .5em;
  font-size: rem(13);
  font-family: $font-main-500;
  width: 100%;
  border-bottom: 1px solid $secondary;

  @include mobile-md {
    font-size: rem(14);
  }

  @include mobile-lg {
    font-size: rem(16);
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: .5em;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='612px' height='612px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3E%3Cpath fill='%23734A91' d='M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782 c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296 c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 1.5725em;
    height: 1.5725em;
    z-index: 2;
    margin-top: .25em;
    pointer-events: none;
  }

  &__placeholder {
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 1;
    padding: .744em 2.5em .3em 2em;
    border-radius: rem(6);
    cursor: pointer;
    color: $dark;
    font-weight: 500;
    font-size: rem(14);
    line-height: 1;
    letter-spacing: -.05em;
    background-image: url('../../../img/general/location.png');
    background-repeat: no-repeat;
    background-position: .45em 50%;
    //background-size: 1.64em 1.64em;
    background-size: 1em 1.35em;
    transition: background-color .15s ease-in-out;
  }

  &.is-open {
    .select-nao__list {
      display: block;
    }

    &::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__list {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: $contrast;
    border-radius: 0 0 rem(6) rem(6);
    border: 1px solid $tertiary;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;

    li {
      display: block;
      text-align: left;
      padding: 0.8em 1em 0.8em 1em;
      cursor: pointer;
      color: $dark;
      font-weight: 500;
      font-size: rem(13);
      letter-spacing: -.05em;
      transition: background-color .15s ease-in-out, color .15s ease-in-out;

      &:hover, &.selected {
        background-color: $tertiary;
        color: $contrast;
      }

      &.disabled {
        background-color: lighten($light, 15%);
        color: $secondary;
        pointer-events: none;
      }
    }
  }

  &__graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: $dark;
    pointer-events: none;
    transition: transform .7s, stroke .7s, stroke .15s ease-in-out;
    transition-timing-function: cubic-bezier(0, .25, .5, 1);
  }
}
