@import "../../shared/variables";
@import "../../shared/mixin/index";

.select {
  position: relative;
  user-select: none;
  //text-align: center;
  -webkit-touch-callout: none;
  font-size: rem(13);

  @include mobile-md {
    font-size: rem(14);
  }

  @include mobile-lg {
    font-size: rem(16);
  }

  //&::before, &::after {
  //  position: absolute;
  //  content: "";
  //  top: 50%;
  //  transform: translateY(-50%);
  //  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 135.3 240.8' style='enable-background:new 0 0 135.3 240.8;' xml:space='preserve' fill='%23fff'%3E%3Cg%3E%3Cpath id='Chevron_Right' d='M5.1,129l108.3,108.3c4.8,4.7,12.5,4.7,17.2,0c4.8-4.7,4.8-12.4,0-17.2l-99.7-99.7l99.7-99.7 c4.8-4.7,4.8-12.4,0-17.2c-4.8-4.7-12.5-4.7-17.2,0L5.1,111.8C0.4,116.5,0.4,124.3,5.1,129z'/%3E%3C/g%3E%3C/svg%3E%0A");
  //  background-repeat: no-repeat;
  //  background-position: 0 0;
  //  background-size: cover;
  //  width: .8575em;
  //  height: 1.5725em;
  //  z-index: 2;
  //}
  //
  //&::before {
  //  left: .85em;
  //}
  //
  //&::after {
  //  right: .85em;
  //  transform: translateY(-50%) rotate(180deg);
  //}

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 135.3 240.8' style='enable-background:new 0 0 135.3 240.8;' xml:space='preserve' fill='%23fff'%3E%3Cg%3E%3Cpath id='Chevron_Right' d='M5.1,129l108.3,108.3c4.8,4.7,12.5,4.7,17.2,0c4.8-4.7,4.8-12.4,0-17.2l-99.7-99.7l99.7-99.7 c4.8-4.7,4.8-12.4,0-17.2c-4.8-4.7-12.5-4.7-17.2,0L5.1,111.8C0.4,116.5,0.4,124.3,5.1,129z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: .8575em;
    height: 1.5725em;
    z-index: 2;
  }

  &::after {
    right: 1.25em;
    transform: translateY(-50%) rotate(270deg);
  }

  &__placeholder {
    position: relative;
    display: block;
    color: $contrast;
    background-color: $primary;
    z-index: 1;
    padding: .75em 1em;
    border-radius: rem(6);
    cursor: pointer;
    transition: background-color .15s ease-in-out;

    &:hover {
      background: $primary-hover;
    }
  }

  &.is-open {
    .select__list {
      display: block;
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &__list {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: $contrast;
    border-radius: 0 0 rem(6) rem(6);
    border: 1px solid $tertiary;
    top: 100%;
    left: 0;
    list-style: none;
    margin: .25em 0 0 0;
    padding: 0;
    z-index: 100;

    li {
      display: block;
      text-align: left;
      padding: 0.8em 1em 0.8em 1em;
      color: $secondary;
      cursor: pointer;
      transition: background-color .15s ease-in-out, color .15s ease-in-out;

      &:hover, &.selected {
        background-color: $tertiary;
        color: $contrast;
      }

      &.disabled {
        background-color: lighten($light, 15%);
        color: $secondary;
        pointer-events: none;
      }
    }
  }
}
