@import "../../shared/variables";
@import "../../shared/mixin/index";

$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$input-height: 2.375rem;
$input-height-sm: 1.9375rem;
$input-height-lg: 3rem;
$input-btn-focus-width: .2rem;
$custom-control-indicator-bg: #dee2e6;
$custom-control-indicator-disabled-bg: #e9ecef;
$custom-control-description-disabled-color: #868e96;
$white: white;
$theme-colors: (
        'primary': $primary
);

$switch-height: calc(#{$input-height} * .8) !default;
$switch-height-sm: calc(#{$input-height-sm} * .8) !default;
$switch-height-lg: calc(#{$input-height-lg} * .8) !default;
$switch-border-radius: $switch-height !default;
$switch-bg: $custom-control-indicator-bg !default;
$switch-checked-bg: map-get($theme-colors, 'primary') !default;
$switch-disabled-bg: $custom-control-indicator-disabled-bg !default;
$switch-disabled-color: $custom-control-description-disabled-color !default;
$switch-thumb-bg: $white !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-padding: 2px !default;
$switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$switch-transition: .2s all !default;

.switch {
  font-size: $font-size-base;
  position: relative;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;

    & + label {
      position: relative;
      min-width: calc(#{$switch-height} * 2);
      border-radius: $switch-border-radius;
      height: $switch-height;
      line-height: $switch-height;
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
    }

    & + label::before,
    & + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$switch-height} * 2);
      bottom: 0;
      display: block;
    }

    & + label::before {
      right: 0;
      background-color: $switch-bg;
      border-radius: $switch-border-radius;
      transition: $switch-transition;
    }

    & + label::after {
      top: $switch-thumb-padding;
      left: $switch-thumb-padding;
      width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      border-radius: $switch-thumb-border-radius;
      background-color: $switch-thumb-bg;
      transition: $switch-transition;
    }

    &:checked + label::before {
      background-color: $switch-checked-bg;
    }

    &:checked + label::after {
      margin-left: $switch-height;
    }

    &:focus + label::before {
      outline: none;
      box-shadow: none;
    }

    &:disabled + label {
      color: $switch-disabled-color;
      cursor: not-allowed;
    }

    &:disabled + label::before {
      background-color: $switch-disabled-bg;
    }
  }

  // Small variation
  &.switch-sm {
    display: inline-flex;
    font-size: $font-size-sm;
    width: rem(20);

    @include mobile-md {
      width: rem(26);
    }

    @include mobile-lg {
      width: rem(36);
    }

    input {
      & + label {
        margin-bottom: 0;
        min-width: rem(20);
        //min-width: calc(#{$switch-height-sm} * 2);
        //height: $switch-height-sm;
        height: rem(9);
        line-height: $switch-height-sm;
        text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);

        @include mobile-md {
          min-width: rem(26);
          height: rem(10);
        }

        @include mobile-lg {
          min-width: rem(36);
          height: rem(12);
        }
      }

      & + label::before {
        width: 100%;
      }

      & + label::after {
        top: 50%;
        transform: translateY(-50%);
        left: rem(-3);
        box-shadow: 0 0 8px rgba($secondary, .43);
        width: rem(14);
        height: rem(14);

        @include mobile-md {
          width: rem(16);
          height: rem(16);
        }

        @include mobile-lg {
          width: rem(20);
          height: rem(20);
        }
      }

      &:checked + label::after {
        left: calc(100% - 11px);
        margin-left: 0;

        @include mobile-md {
          left: calc(100% - 14px);
        }

        @include mobile-lg {
          left: calc(100% - 17px);
        }
      }
    }
  }

  & + .switch {
    margin-left: 1rem;
  }
}
