@import "../../shared/variables";
@import "../../shared/mixin/index";

.switch-in {
  display: inline-flex;
  align-items: center;
  font-size: rem(14);

  &__checkbox {
    display: block;
    width: 38px;
    height: 18px;
    position: relative;
  }

  input {
    display: none;

    &:checked + .switch-in__slider:before {
      transform: translateX(1.42975em);
      background-color: $contrast;
    }

    &:checked + .switch-in__slider {
      background-color: $primary;
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3em;
    box-shadow: 0 0 0 1px $primary, 0 0 1px $primary;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $primary;
      border-radius: 3em;
      transform: translateX(-1.42975em);
      transition: .4s;
    }
  }

  &__label {
    color: $light;
    margin-left: rem(8);
    font-family: $font-main-500;
    font-weight: 500;
    transition: color .15s ease-in-out;

    .checked & {
      color: $dark;
    }
  }
}
