<section class="sec sec-negative">

    <div class="container container-xs px-0">

        <div class="card">

            <div class="card-body">

                <div class="media">

                    <div class="media-body">

                        <div class="row flex-nowrap">

                            <div class="col-auto">
                                <h4>Текущий баланс</h4>
                                <p class="card-number"><b>14560 ₽</b></p>
                                <h4>Текущих заказов</h4>
                                <p class="card-number"><b>6</b></p>
                                <a href="#" class="btn btn-primary btn-moema">выполнить</a>
                            </div>
                            <!-- /.col -->

                            <div class="col">

                                <form novalidate class="form card-switcher text-right">

                                        		<span class="switch switch-sm">
                                    <input type="checkbox" class="switch" id="switch-sm" checked>
                                    <label for="switch-sm"></label>
                                  </span>
                                    <!-- /.switch -->

                                </form>
                                <!-- /.form -->

                                <div class="chart card-chart ml-auto mr-auto mt-n3" id="chart"></div>
                                <!-- /.chart -->

                            </div>
                            <!-- /.col-auto -->

                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.media-body -->

                </div>
                <!-- /.media -->

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </div>
    <!-- /.container -->

</section>
<!-- /.sec-negative -->
