<section class="sec sec-negative sec-error">

    <div class="container container-xs px-0">

        <div class="card">

            <div class="card-body">

                <div class="media">

                    <div class="media-body">

                        <div class="row flex-nowrap">

                            <div class="col">
                                <h4>Получено предложений</h4>
                                <p class="card-number"><b>6</b></p>
                                <h4>Стоимость</h4>
                                <p class="card-number"><b>3 800 ₽</b><b class="dot-dot-dot">......</b><b>5 800 ₽</b></p>
                            </div>
                            <!-- /.col -->

                            <div class="col-auto">

                                <form novalidate class="form card-switcher text-right mb-3">

                                        <span class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm" checked>
                                            <label for="switch-sm"></label>
                                          </span>
                                    <!-- /.switch -->

                                </form>
                                <!-- /.form -->

                                <a href="" class="btn-tooltip">
                                    <figure>
                                        <object type="image/svg+xml" data="img/svg/warning.svg" class="svg-icon svg-icon-error"></object>
                                    </figure>
                                </a>
                                <!-- /.btn-tooltip -->

                                <div class="tooltip" data-tooltip="left">
                                    <span>Lorem ipsum dolor sit amet.</span>
                                </div>
                                <!-- /.tooltip -->


                            </div>
                            <!-- /.col-auto -->

                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.media-body -->

                </div>
                <!-- /.media -->

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </div>
    <!-- /.container -->

</section>
<!-- /.sec-negative -->
