<section class="sec sec-header">
    <div class="container container-xs px-0" id="counters">

        <div class="row flex-nowrap">

            <div class="col-3 pb-1">
                <h6 class="color-dark text-uppercase text-center">Замеров</h6>

                <div class="counter m-2">
                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="60, 100" stroke-dashoffset="60" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>
                    <div class="counter__value">
                        <span class="counter__output">4</span>
                    </div>
                </div>
                <!-- /.counter -->
            </div>
            <!-- /.col -->

            <div class="col-3 pb-1">
                <h6 class="color-dark text-uppercase text-center">Заказов</h6>

                <div class="counter m-2">
                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="80, 100" stroke-dashoffset="80" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>
                    <div class="counter__value">
                        <span class="counter__output">1</span>
                    </div>
                </div>
                <!-- /.counter -->
            </div>
            <!-- /.col -->

            <div class="col-3 pb-1">
                <h6 class="color-dark text-uppercase text-center">Писем</h6>

                <div class="counter m-2">
                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="30, 100" stroke-dashoffset="30" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>
                    <div class="counter__value">
                        <span class="counter__output">0</span>
                    </div>
                </div>
                <!-- /.counter -->
            </div>
            <!-- /.col -->

            <div class="col-3 pb-1">

                <div class="wrap-tooltip">

                    <h6 class="color-dark text-uppercase text-center btn-tooltip">задач</h6>
                    <!-- /.btn-tooltip -->

                    <div class="tooltip tooltip-fade" data-tooltip="left">

                        <div class="container px-0">

                            <div class="row">

                                <div class="col-auto pr-0">
                                    <svg width="41" height="41" class="tooltip__icon">
                                        <use xlink:href="img/svg/sprite.svg#checklist-simple"></use>
                                    </svg>
                                </div>
                                <!-- /.col -->

                                <div class="col">
                                    <h5 class="tooltip__title">Конверсия</h5>
                                    <p class="tooltip__text">Показатель конверсии отображает текущй коэффициент успешных заказов по отношению к вашим откликам</p>
                                </div>
                                <!-- /.col -->

                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.container -->

                    </div>
                    <!-- /.tooltip -->

                </div>
                <!-- /.wrap-tooltip -->

                <div class="counter m-2">
                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="70, 100" stroke-dashoffset="70" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>

                    <div class="counter__value">
                        <span class="counter__output">2</span>
                    </div>
                </div>
                <!-- /.counter -->

            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <div class="overlay" data-overlay-toggle>
        <svg version="1.1" class="bg-clip-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none">
			<path fill="#FFFFFF" d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path>
		</svg>
    </div>
    <!-- /.overlay -->

</section>
