<section class="sec sec-header">
    <div class="container container-xs px-0" id="counters">

        <div class="row flex-nowrap">

            <div class="col-3 pb-1">
                <h6 class="color-dark text-uppercase text-center">заказов</h6>

                <div class="counter m-2">

                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="60, 100" stroke-dashoffset="60" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>
                    <!-- /.counter__circle -->

                    <div class="counter__value" >

                        <span class="counter__output">12</span>
                        <!-- /.counter__output -->

                    </div>
                    <!-- /.counter__value -->

                </div>
                <!-- /.counter -->

            </div>
            <!-- /.col -->

            <div class="col-3 pb-1">

                <div class="wrap-tooltip">

                    <h6 class="color-dark text-uppercase text-center" data-btn-modal-activation>активность</h6>

                </div>
                <!-- /.wrap-tooltip -->

                <div class="counter m-2">

                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="80, 100" stroke-dashoffset="80" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>
                    <!-- /.counter__circle -->

                    <div class="counter__value">

                        <a href="" class="color-dark"><span class="counter__output">80</span>%</a>

                    </div>
                    <!-- /.counter__value -->

                </div>
                <!-- /.counter -->

            </div>
            <!-- /.col -->

            <div class="col-3 pb-1">

                <div class="wrap-tooltip">

                    <h6 class="color-dark text-uppercase text-center" data-btn-modal-convertion>конверсия</h6>

                </div>
                <!-- /.wrap-tooltip -->

                <div class="counter m-2">

                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="30, 100" stroke-dashoffset="30" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>
                    <!-- /.counter__circle -->

                    <div class="counter__value">

                        <a href="" class="color-dark"><span class="counter__output">30</span>%</a>

                    </div>
                    <!-- /.counter__value -->

                </div>
                <!-- /.counter -->

            </div>
            <!-- /.col -->

            <div class="col-3 pb-1">

                <div class="wrap-tooltip">

                    <h6 class="color-dark text-uppercase text-center">задач</h6>
                    <!-- /.btn-tooltip -->

<!--                    <div class="tooltip tooltip-fade" data-tooltip="left">-->

<!--                        <div class="container px-0">-->

<!--                            <div class="row">-->

<!--                                <div class="col-auto pr-0">-->
<!--                                    <svg width="41" height="41" class="tooltip__icon">-->
<!--                                        <use xlink:href="img/svg/sprite.svg#checklist-simple"></use>-->
<!--                                    </svg>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; /.col &ndash;&gt;-->

<!--                                <div class="col">-->
<!--                                    <h5 class="tooltip__title">Конверсия</h5>-->
<!--                                    <p class="tooltip__text">Показатель конверсии отображает текущй коэффициент успешных заказов по отношению к вашим откликам</p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; /.col &ndash;&gt;-->

<!--                            </div>-->
<!--                            &lt;!&ndash; /.row &ndash;&gt;-->

<!--                        </div>-->
<!--                        &lt;!&ndash; /.container &ndash;&gt;-->

<!--                    </div>-->
                    <!-- /.tooltip -->

                </div>
                <!-- /.wrap-tooltip -->

                <div class="counter m-2">

                    <svg class="counter__circle" viewBox="0 0 35 35" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="position:absolute;">
                        <circle class="counter__background" stroke="transparent" stroke-width="1" fill="none" stroke-linecap="round" stroke-dasharray="100,100" cx="17.5" cy="17.5" r="15.91549431"/>
                        <circle class="counter__circle-value" stroke="#000000" stroke-width="1" stroke-dasharray="70, 100" stroke-dashoffset="70" stroke-linecap="round" fill="none" cx="17.5" cy="17.5" r="15.91549431" />
                    </svg>
                    <!-- /.counter__circle -->

                    <div class="counter__value">

                        <span class="counter__output">2</span>
                        <!-- /.counter__output -->

                    </div>
                    <!-- /.counter__value -->

                </div>
                <!-- /.counter -->

            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <div class="overlay" data-overlay-toggle>
        <svg version="1.1" class="bg-clip-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none">
			<path fill="#FFFFFF" d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path>
		</svg>
    </div>
    <!-- /.overlay -->

</section>
<!-- /.sec-header -->

<div class="modal" data-modal-activation data-fade>

    <div class="modal__overlay"></div>
    <!-- /.modal__overlay -->

    <div class="modal__dialog">

        <button type="button" class="modal__close">
            <svg width="20" height="20" class="tooltip__icon">
                <use xlink:href="img/svg/sprite.svg#close"></use>
            </svg>
        </button>

        <div class="m-tooltip">

            <div class="container px-0">

                <div class="row">

                    <div class="col">
                        <div class="text-center">
                            <svg width="41" height="41" class="tooltip__icon">
                                <use xlink:href="img/svg/sprite.svg#tracking"></use>
                            </svg>
                        </div>
                        <h5 class="m-tooltip__title">Активность</h5>
                        <p class="m-tooltip__text">Индекс активности отображает текущй коэффициент ваших откликов по отношению к новым заказам</p>
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.m-tooltip -->

    </div>
    <!-- /.modal__dialog -->

</div>
<!-- /.modal -->

<div class="modal" data-modal-conversion data-fade>

    <div class="modal__overlay"></div>
    <!-- /.modal__overlay -->

    <div class="modal__dialog">

        <button type="button" class="modal__close">
            <svg width="20" height="20" class="tooltip__icon">
                <use xlink:href="img/svg/sprite.svg#close"></use>
            </svg>
        </button>

        <div class="m-tooltip">

            <div class="container px-0">

                <div class="row">

                    <div class="col">
                        <div class="text-center">
                            <svg width="41" height="41" class="tooltip__icon">
                                <use xlink:href="img/svg/sprite.svg#time-management"></use>
                            </svg>
                        </div>
                        <h5 class="m-tooltip__title">Конверсия</h5>
                        <p class="m-tooltip__text">Показатель конверсии отображает текущй коэффициент успешных заказов по отношению к вашим откликам</p>
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.m-tooltip -->

    </div>
    <!-- /.modal__dialog -->

</div>
<!-- /.modal -->
