<header class="header sticky">
    <div class="container container-xs px-0">
        <div class="row justify-content-end">
            <div class="col-auto">
                <a href="">
                    <svg class="svg-user" width="24" height="24">
                        <use xlink:href="img/svg/sprite.svg#close"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
