<header class="header sticky">
    <div class="container container-md">
        <div class="row align-items-center">
            <div class="col">
                <a href="">
                    <svg class="svg-undo" width="33" height="24">
                        <use xlink:href="img/svg/sprite.svg#undo"></use>
                    </svg>
                </a>
            </div>
            <div class="col-auto">
                <a href="">
                    <svg class="svg-user" width="23" height="24">
                        <use xlink:href="img/svg/sprite.svg#user"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
