<header class="header sticky">

	<div class="container container-xs px-0">
		<div class="row align-items-center">
			<div class="col">

				<button id="btn-toggle-menu" class="hamburger hamburger--collapse" type="button">
				   <span class="hamburger-box">
					  <span class="hamburger-inner"></span>
				   </span>
				</button>
				<!-- /.hamburger -->

			</div>
			<div class="col-auto">
				<a href="">
					<svg class="svg-user" width="23" height="24">
						<use xlink:href="img/svg/sprite.svg#user"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
	<!-- /.container -->

</header>
