<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="js/manifest.json">

<!-- INCLUDE FAVICON -->
<link rel="shortcut icon" href="img/favicon.ico">
<!-- END FAVICON -->

<!-- INCLUDE BOOTSTRAP STYLE -->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!-- END BOOTSTRAP STYLE -->

<!-- INCLUDE jQuery.mmenu -->
<link href="libs/mmenu/mmenu.css" rel="stylesheet" />

<!-- INCLUDE MAIN STYLE -->
<link rel="stylesheet" href="css/main.css">
<!-- END MAIN STYLE -->
