<!--<nav id="ml-menu" class="menu">-->
<!--	<button class="action action&#45;&#45;close" aria-label="Close Menu">-->
<!--		<svg class="svg-close" width="14" height="14">-->
<!--			<use xlink:href="img/svg/sprite.svg#close"></use>-->
<!--		</svg>-->
<!--	</button>-->
<!--	<div class="menu__wrap">-->
<!--		<ul data-menu="main" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-1" href="#">Vegetables</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-2" href="#">Fruits</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-3" href="#">Grains</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-4" href="#">Mylk &amp; Drinks</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 1 &ndash;&gt;-->
<!--		<ul data-menu="submenu-1" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Stalk Vegetables</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Roots &amp; Seeds</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Cabbages</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Salad Greens</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Mushrooms</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-1-1" href="#">Sale %</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 1-1 &ndash;&gt;-->
<!--		<ul data-menu="submenu-1-1" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Fair Trade Roots</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Dried Veggies</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Our Brand</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Homemade</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 2 &ndash;&gt;-->
<!--		<ul data-menu="submenu-2" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Citrus Fruits</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Berries</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-2-1" href="#">Special Selection</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Tropical Fruits</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Melons</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 2-1 &ndash;&gt;-->
<!--		<ul data-menu="submenu-2-1" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Exotic Mixes</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Wild Pick</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Vitamin Boosters</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 3 &ndash;&gt;-->
<!--		<ul data-menu="submenu-3" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Buckwheat</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Millet</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Quinoa</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Wild Rice</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Durum Wheat</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-3-1" href="#">Promo Packs</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 3-1 &ndash;&gt;-->
<!--		<ul data-menu="submenu-3-1" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Starter Kit</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">The Essential 8</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Bolivian Secrets</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Flour Packs</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 4 &ndash;&gt;-->
<!--		<ul data-menu="submenu-4" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Grain Mylks</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Seed Mylks</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Nut Mylks</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Nutri Drinks</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" data-submenu="submenu-4-1" href="#">Selection</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; Submenu 4-1 &ndash;&gt;-->
<!--		<ul data-menu="submenu-4-1" class="menu__level">-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Nut Mylk Packs</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Amino Acid Heaven</a>-->
<!--			</li>-->
<!--			<li class="menu__item">-->
<!--				<a class="menu__link" href="#">Allergy Free</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--	</div>-->
<!--</nav>-->
<!--<nav id="menu">-->
<!--	<ul>-->
<!--		<li><a href="/"><i class="fa fa-home"></i> Главная</a></li>-->
<!--		<li><a href="/about"><i class="fa fa-code"></i> О нас</a>-->
<!--			<ul>-->
<!--				<li><a href="/about/history"><i class="fa fa-graduation-cap"></i> История</a></li>-->
<!--				<li><a href="/about/team"><i class="fa fa-file-text-o"></i> Наша команда</a></li>-->
<!--				<li><a href="/about/address"><i class="fa fa-arrows-h"></i> Наш адрес</a></li>-->
<!--			</ul>-->
<!--		</li>-->
<!--		<li><a href="/contact"><i class="fa fa-github"></i> Контакт</a></li>-->
<!--	</ul>-->
<!--</nav>-->

<nav id="menu">
	<ul class="listview-icons">
		<li><a href="/"><i class="fa fa-home"></i> Главная</a></li>
		<li>
			<span><i class="fa fa-support"></i> О нас</span>
			<ul>
				<li><a href="/support/tips-and-tricks.html"> История</a></li>
				<li><a href="/support/problem-solving.html"> Наша команда</a></li>
				<li><a href="/support/contact.html"> Наш адрес</a></li>
			</ul>
		</li>
		<li><a href="/examples.html"><i class="fa fa-code"></i> Контакт</a></li>
	</ul>
</nav>
