<div class="slider-dots">
    <div>
        <div class="np mb-3" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">
            <b class="np__logo"><span class="color-primary">N</span>P</b>
            <span class="np__text">Удобство использования</span>
        </div>
        <!-- /.np -->
        <p data-aos="fade-left" data-aos-duration="500" data-aos-delay="200">
            В современном мире технологий, важным аспектом в области взаимодействия компаний с клиентами, является предоставление возможности клиентам, выбрать, заказать, оплатить услугу, за несколько минут через свой гаджет.
            Мы сделали этот процесс необыкновенно легким
        </p>
    </div>
    <div>
        <div class="np mb-3" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">
            <b class="np__logo"><span class="color-primary">N</span>P</b>
            <span class="np__text">Удобство использования</span>
        </div>
        <!-- /.np -->
        <p data-aos="fade-left" data-aos-duration="500" data-aos-delay="200">
            В современном мире технологий, важным аспектом в области взаимодействия компаний с клиентами, является предоставление возможности клиентам, выбрать, заказать, оплатить услугу, за несколько минут через свой гаджет.
            Мы сделали этот процесс необыкновенно легким
        </p>
    </div>
    <div>
        <div class="np mb-3" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">
            <b class="np__logo"><span class="color-primary">N</span>P</b>
            <span class="np__text">Удобство использования</span>
        </div>
        <!-- /.np -->
        <p data-aos="fade-left" data-aos-duration="500" data-aos-delay="200">
            В современном мире технологий, важным аспектом в области взаимодействия компаний с клиентами, является предоставление возможности клиентам, выбрать, заказать, оплатить услугу, за несколько минут через свой гаджет.
            Мы сделали этот процесс необыкновенно легким
        </p>
    </div>
    <div>
        <div class="np mb-3" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">
            <b class="np__logo"><span class="color-primary">N</span>P</b>
            <span class="np__text">Удобство использования</span>
        </div>
        <!-- /.np -->
        <p data-aos="fade-left" data-aos-duration="500" data-aos-delay="200">
            В современном мире технологий, важным аспектом в области взаимодействия компаний с клиентами, является предоставление возможности клиентам, выбрать, заказать, оплатить услугу, за несколько минут через свой гаджет.
            Мы сделали этот процесс необыкновенно легким
        </p>
    </div>
</div>
