<div class="slider">
    <hr class="hr">
    <div class="slider-nav">
        <div>
            <picture class="slick-img-small">
                <img src="img/content/company.png" alt="">
            </picture>
            <h4>3 800 ₽</h4>
        </div>
        <div>
            <picture class="slick-img-small">
                <img src="img/content/company.png" alt="">
            </picture>
            <h4>3 810 ₽</h4>
        </div>
        <div>
            <picture class="slick-img-small">
                <img src="img/content/company.png" alt="">
            </picture>
            <h4>3 820 ₽</h4>
        </div>
        <div>
            <picture class="slick-img-small">
                <img src="img/content/company.png" alt="">
            </picture>
            <h4>3 830 ₽</h4>
        </div>
        <div>
            <picture class="slick-img-small">
                <img src="img/content/company.png" alt="">
            </picture>
            <h4>3 840 ₽</h4>
        </div>
        <div>
            <picture class="slick-img-small">
                <img src="img/content/company.png" alt="">
            </picture>
            <h4>3 850 ₽</h4>
        </div>
    </div>
    <hr class="hr">
    <div class="slider-for">
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/company.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">ООО "Ромашка" Москва</h4>

                            <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                            <!-- /.rating -->
                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость:</h4>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">3 800 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/company.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">ООО "Ромашка" Москва</h4>

                            <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                            <!-- /.rating -->
                            <h4 class="color-light" data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость изготовления:</h4>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">3 810 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/company.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">ООО "Ромашка" Москва</h4>

                            <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                            <!-- /.rating -->
                            <h4 class="color-light" data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость изготовления:</h4>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">3 820 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/company.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">ООО "Ромашка" Москва</h4>

                            <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                            <!-- /.rating -->
                            <h4 class="color-light" data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость изготовления:</h4>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">3 830 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/company.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">ООО "Ромашка" Москва</h4>

                            <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                            <!-- /.rating -->
                            <h4 class="color-light" data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость изготовления:</h4>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">3 840 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/company.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">ООО "Ромашка" Москва</h4>

                            <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                            <!-- /.rating -->
                            <h4 class="color-light" data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость изготовления:</h4>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">3 850 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
<!-- /.slider -->
