<div class="slider-order">
    <div>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150"><a href="">13.00 Заказ № 1221</a></h3>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"><a href="">18.00 Заказ № 5432</a></h3>
    </div>
    <div>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150"><a href="">13.00 Заказ № 1221</a></h3>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"><a href="">18.00 Заказ № 5432</a></h3>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="250"><a href="">20.00 Заказ № 5437</a></h3>
    </div>
    <div>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150"><a href="">13.00 Заказ № 1221</a></h3>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"><a href="">18.00 Заказ № 5432</a></h3>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="250"><a href="">20.00 Заказ № 5437</a></h3>
        <h3 class="mb-2" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300"><a href="">08.00 Заказ № 3497</a></h3>
    </div>
</div>
