<div class="slider">
    <hr class="hr">
    <div class="slider-nav">
        <div class="text-center">
            <picture class="slick-img-small">
                <img src="img/content/expert.png" alt="">
            </picture>
            <h4>4 000 ₽</h4>
        </div>
        <div class="text-center">
            <picture class="slick-img-small">
                <img src="img/content/expert.png" alt="">
            </picture>
            <h4>4 010 ₽</h4>
        </div>
        <div class="text-center">
            <picture class="slick-img-small">
                <img src="img/content/expert.png" alt="">
            </picture>
            <h4>4 020 ₽</h4>
        </div>
        <div class="text-center">
            <picture class="slick-img-small">
                <img src="img/content/expert.png" alt="">
            </picture>
            <h4>4 030 ₽</h4>
        </div>
        <div class="text-center">
            <picture class="slick-img-small">
                <img src="img/content/expert.png" alt="">
            </picture>
            <h4>4 040 ₽</h4>
        </div>
    </div>
    <hr class="hr">
    <div class="slider-for">
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/expert.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">Дмитртй Носов</h4>

                           <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                                <!-- /.rating -->
                            <h4ß data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость монтажных работ:</h4ß>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">4 000 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/expert.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">Дмитртй Уланов</h4>

                           <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                                <!-- /.rating -->
                            <h4ß data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость монтажных работ:</h4ß>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">4 010 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/expert.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">Дмитртй Иванов</h4>

                           <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                                <!-- /.rating -->
                            <h4ß data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость монтажных работ:</h4ß>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">4 020 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/expert.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">Дмитртй Сидоров</h4>

                           <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                                <!-- /.rating -->
                            <h4ß data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость монтажных работ:</h4ß>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">4 030 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <div>
            <div class="row justify-content-center my-3">

                <div class="col-auto">

                    <div class="media align-items-center">

                        <picture class="flex-shrink-0 mr-3">
                            <img src="img/content/expert.png" alt="" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-delay="100">
                        </picture>

                        <div class="media-body">

                            <h4 data-aos="fade-left" data-aos-duration="500" data-aos-delay="150">Дмитртй Петров</h4>

                           <div class="rating p-0 my-1" data="45" data-rating-output data-aos="fade-left" data-aos-duration="500" data-aos-delay="200"></div>
                                <!-- /.rating -->
                            <h4ß data-aos="fade-left" data-aos-duration="500" data-aos-delay="250">Стоимость монтажных работ:</h4ß>
                            <p class="card-number mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">4 040 ₽</p>

                        </div>

                    </div>
                    <!-- /.media -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
<!-- /.slider -->
