@import "shared/variables";
@import "shared/mixin/index";

/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

/* Main styles */
//html, body {
//	@media screen and (orientation: portrait){
//		overflow: hidden;
//	}
//}

a {
	color: $primary;
	
	svg {
		transition: fill .25s ease;
	}
	
	&:hover {
		color: $primary-hover;
		text-decoration: none;
		
		svg {
			fill: $primary-hover;
		}
	}
}

#cdawrap {
	top: auto;
	bottom: 15px;
	background-color: rgba($dark, 0.1);
	
	.carbon-text {
		color: #505158;
	}
	
	a {
		text-decoration: none;
		color: $contrast;
		outline: none;
		
		&:hover {
			color: #ddd;
		}
	}
	
	a {
		&:hover {
			.carbon-poweredby {
				color: $contrast;
			}
		}
		
		&.carbon-poweredby {
			color: #7883c4;
		}
	}
}

.content {
	position: relative;
	min-height: 300px;
	margin: 0 0 0 300px;
	color: #cecece;
	
	&--loading {
		background: url(../img/svg/loading.svg) no-repeat 50% 50%;
	}
}

.products {
	margin: 0;
	padding: 2em;
	text-align: center;
}

.product {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 5px;
	background: #1c1d22;
	
	.foodicon {
		font-size: 4em;
		line-height: 190px;
		color: #3b3d4a;
	}
}

.info {
	font-size: 1.1em;
	font-weight: bold;
	padding: 20vh 1em 0;
	text-align: center;
	color: #47484c;
}

///
.bg-opacity {
	background-color: rgba($contrast, .8);
}

.content {
	margin: 0;
}

.wrap-container {

}

.full-screen {
	@media screen and (orientation: portrait){
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;
	}
}

.sec {
	padding-right: rem(15);
	padding-left: rem(15);

	&-btn-toggle {
		background-color: $contrast;
		padding: rem(15, 0);
		transition: padding-top .35s ease-in-out;
	}

	&-calendar {
		position: relative;
		//background-attachment: fixed;
		background-image: url(../img/general/bg-screen.png);
		background-position: 50% 0;
		background-size: 150% auto;
		background-repeat: no-repeat;
		padding-top: rem(53);
		padding-bottom: rem(20);
		overflow: hidden;
		margin-bottom: 0;

		@include mobile-md {
			padding-top: rem(57);
			padding-bottom: rem(24);
		}

		@include mobile-lg {
			padding-top: rem(65);
			padding-bottom: rem(30);
		}

		.overlay {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(150);
			z-index: 2;
			pointer-events: none;

			.bg-clip-circle {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&-header {
		position: relative;
		background-attachment: fixed;
		background-image: url(../img/general/bg-screen.png);
		background-position: 50% 0;
		background-size: 110% auto;
		background-repeat: no-repeat;
		padding-top: rem(53);
		padding-bottom: rem(125);
		overflow: hidden;
		margin-bottom: 0;

		@include mobile-md {
			padding-top: rem(57);
			padding-bottom: rem(140);
		}

		@include mobile-lg {
			padding-top: rem(65);
			padding-bottom: rem(140);
		}

		.tooltip {
			min-width: rem(215);
			text-align: left;

			@include mobile-md {
				min-width: rem(260);
			}

			@include mobile-lg {
				min-width: rem(330);
			}
		}

		.overlay {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(150);
			z-index: 2;
			pointer-events: none;

			.bg-clip-circle {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&-negative {
		position: relative;
		z-index: 3;
		margin-top: rem(-125);
		margin-bottom: 0;

		@include mobile-md {
			margin-top: rem(-140);
		}

		@include mobile-lg {
			margin-top: rem(-140);
		}
	}

	&-error {
		margin-top: rem(-115);

		@include mobile-md {
			margin-top: rem(-125);
		}

		@include mobile-lg {
			margin-top: rem(-120);
		}

		.svg-icon-error {
			width: rem(54);
			height: rem(54);

			@include mobile-md {
				width: rem(64);
				height: rem(64);
			}

			@include mobile-lg {
				width: rem(80);
				height: rem(80);
			}
		}

	}

	&-breadcrumbs {;

		&[data-sticky-breadcrumbs] {
			position: sticky;
			top: 0;
			transform: translateY(0);
			z-index: 2;
			//background-color: $contrast;
			padding: rem(12) 0;
			margin-top: 0;
			margin-bottom: 0;
			transition: padding .5s ease-in-out, transform .5s ease-in-out;

			.sticky-breadcrumbs & {
				transform: translateY(-100%);
				padding: rem(8) 0;
			}
		}

		.svg-list {
			fill: $secondary;
			width: rem(30);
			height: rem(17);

			@include mobile-md {
				width: rem(32);
				height: rem(19);
			}

			@include mobile-lg {
				width: rem(36);
				height: rem(23);
			}
		}

		.svg-plus {
			fill: $primary;
			width: rem(25);
			height: rem(25);

			@include mobile-md {
				width: rem(27);
				height: rem(27);
			}

			@include mobile-lg {
				width: rem(35);
				height: rem(35);
			}
		}

		.svg-search {
			width: rem(26);
			height: rem(26);

			@include mobile-md {
				width: rem(28);
				height: rem(28);
			}

			@include mobile-lg {
				width: rem(36);
				height: rem(36);
			}
		}
	}

	&-main {
		padding-bottom: rem(65);
		//background-color: $contrast;
		background-color: $contrast;
		overflow-x: hidden;
		overflow-y: auto;
		flex: 1;
		transition: padding-bottom .5s ease-in-out;

		.page-auth & {
			padding-bottom: rem(20);
			padding-top: rem(53);

			@include mobile-md {
				padding-top: rem(57);
			}

			@include mobile-lg {
				padding-top: rem(65);
			}
		}

		@include mobile-md {

		}

		@include mobile-lg {
			padding-bottom: rem(76);
		}

		.contrast & {
			background-color: $contrast;
		}

		//.sticky-tab-bar &, .sticky-breadcrumbs & {
		//	padding-bottom: rem(25);
		//}
	}

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		//justify-content: center;
		background-image: url(../img/general/bg-menu.png);
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding: rem(88) rem(15) rem(56);
		min-height: 100vh;

		height: 1px;
		overflow-x: hidden;
		overflow-y: auto;

		@include mobile-lg {
			@media screen and (orientation: portrait) {
				padding-top: rem(88 * 2);
				padding-bottom: rem(65 * 2);
			}

		}

		.tick {
			width: rem(20);
			height: rem(20);
			transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
		}

		.tick-hidden {
			visibility: hidden;
			opacity: 0;
		}
	}

	&-modal {
		padding-top: rem(53);
		padding-bottom: rem(20);
		overflow-x: hidden;
		overflow-y: auto;

		@include mobile-md {
			padding-top: rem(57);
			padding-bottom: rem(30);
		}

		@include mobile-lg {
			padding-top: rem(65);
			padding-bottom: rem(40);
		}
	}

	&-chat {
		background-image: url(../img/general/bg-chat.jpg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		padding-top: rem(53);

		@include mobile-md {
			padding-top: rem(57);
		}

		@include mobile-lg {
			padding-top: rem(65);
		}

		.chat {
			min-height: 100%;
			height: 1px;
		}
	}
}
.mm-menu_offcanvas {
	max-width: 80vw;
}

.calk {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.liner {
	position: relative;
	width: 100%;
	height: 4px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #c1d0d5;
	-webkit-appearance: none;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #373737;
		cursor:pointer;
		transition:.1s;
	}

	&:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}

.liner.activ {
	position: absolute;
	z-index: 1;
	width: 25%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #373737;
}

.tap {
	position: absolute;
	left: 25%;
	bottom: auto;
	z-index: 2;
	width: 25px;
	height: 25px;
	margin-right: 0px;
	border-radius: 100px;
	background-color: #373737;
}

.part {
	position: absolute;
	left: auto;
	z-index: 2;
	display: block;
	width: 2px;
	height: 20px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #373737;
}

.part._2 {
	left: auto;
}

.part._1 {
	left: auto;
}

.part._3 {
	left: auto;
}

.nunber {
	position: absolute;
	left: 0%;
	top: auto;
	right: auto;
	bottom: 0%;
	display: block;
	margin-top: 0px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	font-size: 18px;
}

.nunber._1 {
	left: auto;
	top: auto;
	right: auto;
	bottom: 0%;
	display: block;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.nunber._2 {
	left: auto;
	right: auto;
	display: block;
}

.nunber._3 {
	left: auto;
	right: auto;
	display: block;
}

.nunber._4 {
	left: auto;
	right: auto;
	display: block;
}

.nunber._5 {
	left: auto;
	top: auto;
	right: 0%;
	bottom: 0%;
	display: block;
}

._50 {
	position: absolute;
	left: 20%;
	top: auto;
	right: 0%;
	bottom: 0%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

._50._1 {
	left: 40%;
}

._100 {
	position: absolute;
	left: 40%;
	top: auto;
	right: 0%;
	bottom: 0%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 50px;
	margin-left: -20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

._100._1 {
	left: 40%;
}

._150 {
	position: absolute;
	left: 60%;
	top: auto;
	right: 0%;
	bottom: 0%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 50px;
	margin-left: -20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

._150._1 {
	left: 40%;
}

._200 {
	position: absolute;
	left: 80%;
	top: auto;
	right: 0%;
	bottom: 0%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 50px;
	margin-left: -20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

._200._1 {
	left: 40%;
}
